[2021-07-04 17:27] zabanet opened #1 "Problem with HxInputFile"
Hi. Thanks for the great work! The HxInputFile works great when I'm uploading files from the same machine where the site is hosted, but refuses to work when I initiate upload from another PC. I get preflight timeouts in chrome developer console. I suppose that it has something to do with CORS as my UploadUrl is on another port (and will be on another IP in the future), but I set  my API to enable

[2021-07-12 07:47] jirikanda commented on #1
Hi zabanet,

the component works well in out production environment.

I guess there is something wrong with your CORS settings. So at first please check your settings and try it again. If it does not fix the problem, please provide us some steps to reproduce it.

It could be:
1. simple github repository (not a complex project, please)
2. use Fiddler (https://www.telerik.com/fiddler/fiddler-classic

[2021-07-28 20:35] hakenr commented on #1
Closing due to lack of response. Feel free to add comments.

[2021-07-28 20:36] #1 closed

[2021-09-01 11:22] crdo opened #2 "Test"

[2021-09-01 11:23] #2 closed

[2021-09-21 13:18] hakenr opened #4 "Reusing defaults in derived components"
The `Defaults` system is ready to let the descendants decide whether
1. to use ancestor defaults, or
2. to define its own defaults, or
3. not to use defaults at all.

For our own inherited components we have to decide which option makes sense (general rule should apply).

Current components:

### `HxButton.Defaults`
* `HxDropdownToggle(Button)` - should probably use `HxButton.Defaults`
* `HxCollap

[2021-09-21 13:36] hakenr opened #5 "Do we want hx-component-name classes for standard Bootstrap components? How to handle them in derived components?"
For most HxComponents we add a `.hx-component-name` class to the root element.
Does that add any value?
How to handle this class for derived components?
e.g. `HxButton` => `HxCollapseToggleButton`, `HxDropdownToggleButton`, `HxNavbarToggler`, etc.

There should be some easy to understand rule we will be able to apply.

Proposal: Add `.hx-class` only for new components (`.hx-grid`, `.hx-sidebar`) a

[2021-09-21 21:36] hakenr opened #6 "Default margin-bottom for inputs in form?"
Currently there is margin-bottom "for all inputs in form, if it is not the only child":

[code]

...which is something we want for basic form layout, but might cause unexpected effects for forms+inputs used in navbars, dropdowns, standalone and such specific situations:
![image](https://user-images.githubusercontent.com/12828888/134250765-95604fb2-d845-45ea-abb6-715051f5cc1d.png)

We might try to

[2021-09-24 07:05] hakenr opened #7 "Layout components? Container/Row/Col/..."
Do we want to cover components for layout?

something similar to https://blazorstrap.io/layout

cc @crdo

[2021-09-24 07:09] hakenr opened #8 "[HxPopover]"
https://getbootstrap.com/docs/5.1/components/popovers/

[2021-09-24 07:09] hakenr opened #9 "List-groups"
https://getbootstrap.com/docs/5.1/components/list-group/

[2021-09-24 07:10] hakenr opened #10 "Progress"
https://getbootstrap.com/docs/5.1/components/progress/

[2021-09-26 06:03] Gonkers opened #11 "Blazor fails to load on your site with Edge"
Any page I attempt to load on your site fails to load Blazor.  Below is the error that I receive. I am not running any browser extensions and am using the default browser settings. This looks like a Blazor issue but I was curious if you've seen this before.

Error:
[code]
Windows 10
Microsoft Edge
Version 95.0.1011.1 (Official build) dev (64-bit)

[2021-09-27 15:25] hakenr commented on #11
Will try to reproduce and eventually report the issue to Microsoft Edge team.

[2021-09-28 20:02] hakenr commented on #9
Implemented in [v1.3.6.](https://github.com/havit/Havit.Blazor/releases/tag/v1.3.6)

[2021-09-28 20:02] #9 closed

[2021-10-02 18:40] robertmclaws opened #12 "Unnecessary Downstream Dependencies"
Installing `Havit.Blazor.Components.Web.Bootstrap` (should probably be named `Havit.Web.Components.Bootstrap` for consistency with Microsoft's namespacing, but that's another issue) takes a dependency on Havit.Core, which apparently brings with it the following:

![image](https://user-images.githubusercontent.com/1657085/135727934-51349683-f34f-4328-9f82-0dccd0649000.png)

Everything below that sh

[2021-10-03 03:53] robertmclaws opened #13 "[Documentation] ButtonGroup and ButtonToolbar docs broken"
Just a heads up, the docs in the following locations are broken:

https://havit.blazor.eu/components/HxButtonGroup
https://havit.blazor.eu/components/HxButtonToolbar

Tried to fix them myself and submit a pull request, but I could not find the problem.

Thanks!

[2021-10-03 04:33] robertmclaws opened #14 "Not specifying HxButton.Color breaks HxButton"
HxButton throws an exception when the Color attribute is not specified. One should assume if the color is not specified, it's display properties will be controlled in the CssClass property.

[2021-10-03 05:03] robertmclaws opened #16 "[HxTooltip] CssClass property missing"
There is no way to control the rendering of a Tooltip, for example to change the mode from Light to Dark. In the documentation, this is controlled by the `data-bs-custom-class` attribute, but the HxTooltip control does not implement attribute splatting, so you cannot set this manually.

[2021-10-03 05:10] robertmclaws opened #17 "[HxButton] Cannot specify HxTooltip span CSS classes"
I have a button group I'm implementing where I need to be able to set the padding on the button content. However, when a Tooltip is specified, the HxButton.CssClass is not set on the `<span />` used to contain the tooltip, so it renders incorrectly.

![image](https://user-images.githubusercontent.com/1657085/135740793-2fc631d4-2e2b-47e1-a54e-cb4fa78b8f73.png)
The one on the top is the proper rende

[2021-10-03 13:17] hakenr commented on #13
Hi @robertmclaws, the page is already fixed (that's why you were not able to find the problem), but the fix has not been deployed to production yet. Next release is planned today/tomorrow.
Thanks for your patience and willingness to help.

[2021-10-03 13:17] #13 closed

[2021-10-03 13:19] hakenr commented on #12
Hi @robertmclaws, thanks for highlighting the potential issue. We will investigate this deeper and eventually split the Havit.Core package into several smaller ones to avoid unnecessary dependencies.

[2021-10-03 13:23] hakenr commented on #14
Hi @robertmclaws,
the Color parameter on HxButton is currently mandatory (will be marked with [EditorRequired] in .NET 6) where the intention is to force the developer to decide explicitly which color is to be used. For those special case where you want to use some default color (including ThemeColor.None) you can set application-wide default
[code]

Can you please explain the scenario where you w

[2021-10-03 13:31] hakenr commented on #14
(If we stay with the decision to require explicit Color value, this should be definitely made more visible in the documentation, i.e. by adding HxAlert to the doc.)

And BTW: It probably won't be so easy with the [EditorRequired] attribute in .NET I mentioned earlier as the Color parameter is not required if you set application-wide default in `HxButton.Defaults.Color`.

Anyway, thanks for your wi

[2021-10-03 13:49] hakenr commented on #17
Hi @robertmclaws, we are aware of this issue and investigating the possibilities to fix.
Current implementation of HxTooltip (also used in HxButton) does not render the span at all if the `HxTooltip.Text` is not set.
The was introduced to make the HxButton as lightweight as possible (pure `button` element) if there is no `HxButton.Tooltip` set (which we believe is the by far most common case).
The

[2021-10-03 13:52] robertmclaws commented on #14
No problem! I'm in active development porting a project from Webpack to Blazor, so you'll probably see more of these over the next few days. 😊

The code I'm replacing outputs like this (some attributes omitted for brevity):

[code]

`btn-outline-light-2` is a custom class in our app, so it wouldn't be supported in your control. In addition, the way Bootstrap handles colors means that your current

[2021-10-03 13:53] hakenr commented on #10
Done, will be part of 1.3.7 release.

[2021-10-03 13:53] #10 closed

[2021-10-03 14:03] robertmclaws commented on #17
I think the current implementation is fine, TBH. I liked the thoughtfulness of how it worked. I believe my PR handled it efficiently in a way that allows you to specify CSS classes on both the `<button>` and the `<span>` predictably.

I can see an argument for always rendering the span, though that might bother people trying to achieve 1:1 HTML ports.

I think the documentation just needs to be cl

[2021-10-03 14:14] hakenr commented on #17
We have to fix this together with the implementation of HxTooltip. The current behavior is weird, if you do not set `HxTooltip.Text` nothing gets rendered except the child content. What if you set `HxTooltip.SpanCssClass` and leave the `HxTooltip.Text` empty? Do you expect the `SpanCssClass` not being used at all?

[2021-10-03 14:26] robertmclaws commented on #17
It depends on whether or not you render the span all the time. Not rendering the container if the Text is empty makes a lot of sense, so I would keep that behavior.

I wanted to break the PR for this into two parts. If you first agree with the HxTooltip fixes, which were pretty straightforward, the next step would be to add TooltipContainerCssClass and TooltipCssClass properties to HxButton, to pa

[2021-10-03 15:06] hakenr commented on #17
OK, fine, I would just like to have the naming for `HxButton.Tooltip` and `HxTooltip` aligned. The `HxButton.TooltipContainerCssClass` and `HxTooltip.ContainerCssClass`  (instead of `SpanCssClass`) works better for me.

[2021-10-03 16:54] #16 closed

[2021-10-03 16:59] robertmclaws commented on #17
Are you implementing this in a PR, or would you like me to?

[2021-10-03 17:02] hakenr commented on #17
Now the first part is prepared, the HxTooltip - In the end I decided for `HxTooltip.WrapperCssClass` and to render the wrapper not only if the `Text` is set but also when the `WrapperCssClass` is set.

[2021-10-03 17:22] hakenr commented on #17
@robertmclaws
I will implement the HxButton changes, I'm just not sure whether the `HxButton.CssClass` should automatically be rendered to the tooltip's `WrapperCssClass` if the `HxButton.Tooltip` is set, or whether the `CssClass` should always stay with the `button` and the `TooltipWrapperCssClass` will be separate parameter.

There might be a rare case where the `HxButton.Tooltip` will be set dy

[2021-10-03 21:18] robertmclaws commented on #17
Yep, I'm using it in dynamic UI right now (actually ran into an issue where the OnClick handler is not bindable, so I had to change how the buttons load in order to make it work). That scenario is exactly what I need.

This is a really powerful library, so I think you should err on the side of predictability, and don't overthink it. I think you give the developer the ability to control how it rend

[2021-10-04 00:22] hakenr commented on #17
Resolved in release 1.3.7.

[2021-10-04 00:22] #17 closed

[2021-10-05 07:34] hakenr commented on #11
Hi @Gonkers,
we tried to reproduce the issue with the latest EDGE DEV release (96) and it seems it resolved now.
Can you please confirm on your side?

[2021-10-05 07:42] hakenr commented on #14
Hi @robertmclaws,
just to keep you updated. We discussed this during our team meeting on Monday but without any ultimate conclusion. The only think we pointed out was that the current state (without any default value for `Color` parameter) is safe for further changes and introducing a new default value won't bring any breaking changes (in opposite to choosing a default and changing it any later).

[2021-10-05 15:03] tommi1hirvonen opened #19 "[HxDropdownToggle] Dynamic CssClass value leaves dropdown menu stuck in open state"
Having the `CssClass` property for `HxDropdownToggle` change dynamically based on user interaction, for example, leaves an open dropdown menu stuck in an open state. It looks like the class attribute `show` is overwritten for the dropdown toggle whenever the `CssClass` value changes.

Here is a simple working example. Toggling the checkbox inside the dropdown menu leaves the dropdown stuck in an o

[2021-10-05 15:36] robertmclaws commented on #14
Out of curiosity, why would you need to change the default from "None"? If you leave the property off, it's the equivalent of just setting the CssClass to "btn", which is the very thing that makes it a button. Technically, that class should always be rendered out, whether you set a Color or not. The fact that you need to set anything to get it to render out the "btn" class is technically a bug. No

[2021-10-05 20:50] hakenr commented on #19
Hi @tommi1hirvonen,
I was able to reproduce your scenario in our dev environment and it seems it is related to the fact you pointed out - the disappearing `show` class on `HxDropdownToggle`.

The current implementation is kind of "basic" and does not cover such advanced scenario. The full implementation is currently only in `HxAccordion` (Blazor component listens to DOM events and tracks the shown

[2021-10-05 23:52] robertmclaws commented on #14
I just wanted to take a second and say I appreciate the hell out of you and your team for building this control set. it is the best Bootstrap control suite out there (by orders of magnitude) and has really helped give our BurnRate.io Blazor client a massive boost to completion (it has helped unblock us on a number of fronts). Kudos to the team!

Thanks for putting up with my feedback, and I'm look

[2021-10-06 02:08] robertmclaws opened #20 "[HxModal] No ability to set your own sizes"
I'm trying to re-create [the modal on this page](https://preview.keenthemes.com/metronic8/demo8/modals/wizards/create-app.html), and running into a problem: I'm not able to add my own class to the `div.modal-dialog` element. I would assume the `CssClass` property would point to the div to control the dialog itself, but instead it points to the background container.

Suggested fix:
- Rename the cur

[2021-10-06 06:00] hakenr commented on #11
Can you please try some other site running Blazor WebAssembly? E.g.
*  https://askme.blazor.cz/
* https://blazorstrap.io/
* https://blazority.com/getting-started

Just want to be sure, that it is not an issue related to our library. Please let me know the result of your investigation.

If the other sites are not working, please report the issue to the Microsoft EDGE team. I would do so on my own,

[2021-10-06 06:07] Gonkers commented on #11
I have the same problem on all of those other sites you listed. This is very weird. Thanks for the info about reporting bugs, I was not aware it was built into the browser. Thanks for your help.

[2021-10-06 23:42] hakenr commented on #20
Hi @robertmclaws,
I decided to align the new parameter names with original Bootstrap classes:
* `CssClass` remains for the `div.modal`
* `DialogCssClass` added for the `div.modal-dialog`

All the `XyCssClass` parameters were added to `HxDialog.Defaults`.

[2021-10-06 23:48] hakenr commented on #14
Released in v1.4.0.

[2021-10-08 10:56] hakenr commented on #12
Fixed.
![image](https://user-images.githubusercontent.com/12828888/136544960-fc358fe6-6019-48de-8cc8-2003b4a5d45d.png)

Published in release v1.4.2.

[2021-10-08 10:56] #12 closed

[2021-10-16 11:45] hakenr opened #21 "[HxCalendar] HxCalendar.Defaults.DateCustomizationProvider?"
Should we allow application-wide customizations for `HxCalendar`?
There already are `MinDate` and `MaxDate` settings.
What if someone wants all weekends to be disabled in all calendars?
(Still for `HxInputDate` and `HxInputDateRange` by setting their `Defaults.CalendarCustomizationProvider`, same provider can be used for both. Currently not doable for all `HxCalendar` instances application-wide.)

[2021-10-17 10:39] hakenr opened #22 "[HxMessageBox] Customization of buttons (Color, Outline, ...)"
# Idea

1. ⚠️ Rename `ButtonDefaults` (currently used for `HxButton.Defaults`) to `ButtonSettings` (more generic name).
2. Add `HxMessageBox.Defaults.PrimaryButtonSettings` and `HxMessageBox.Defaults.OtherButtonsSettings`.
3. Eventually add `IHxMessageBox.ShowAsync()`, the `MessageBoxRequest.PrimaryButtonSettings` and `MessageBoxRequest.OtherButtonsSettings` to allow customization of the single Me

[2021-10-23 20:45] vaclavek opened #23 "[HxInputDate] doesn't support LabelType"
Please add support for **LabelType** to **HxInputDate** :)

[2021-10-24 00:02] hakenr opened #24 "[HxOffcanvas] Backdrop covers the offcanvas"
![image](https://user-images.githubusercontent.com/12828888/138574921-03a61e6e-c4b4-4fac-b102-b8adcd9f85b9.png)

[2021-10-24 07:28] #24 closed, assigned to hakenr

[2021-10-24 22:31] hakenr opened #25 "[HxInputTags] Disabled - allows removing tags, displays AddButton"
The control should not allow changing the value (tags).
But how should it look like when disabled?
* Should we display the AddButton? While Naked? When no tags are there?
* Should we display the Remove buttons on individual tags?

cc @crdo, @jirikanda

[2021-10-25 06:25] vaclavek opened #26 "[HxInputTime] Missing component for inserting time"
I need to insert **date & time**, but I'm missing component for this use case. May be switch on hxInputDate.

[2021-10-26 12:56] hakenr opened #27 "[IHxMessageBoxHost] ConfirmAsync() in cascade does not wait for subsequent message-boxes"
[code]

...only the first confirmation waits for the user entry.

[2021-10-26 15:14] hakenr opened #28 "ValidationMessageMode - [HxValidationMessage] vs .invalid-tooltip"
We should not stick with the `.invalid-tooltip` implementation of form validation messages.
The components should allow users to pick a way of validation message rendering, incl. the basic `.is-invalid`.

See https://getbootstrap.com/docs/5.1/forms/validation/ for Bootstrap validation variants.

REMEMBER: We want to avoid changing position of the form submit button to prevent the "no onclick/onsub

[2021-10-26 15:34] #23 closed, assigned to jirikanda, hakenr

[2021-10-30 21:43] hakenr opened #30 "[HxBreadcrumb]"
Do we want https://getbootstrap.com/docs/5.1/components/breadcrumb/?

[2021-10-30 21:43] hakenr opened #31 "[HxCloseButton]"
Do we want https://getbootstrap.com/docs/5.1/components/close-button/?

[2021-10-30 21:45] hakenr opened #32 "[HxInputRange?] - <input type="range">"
Do we want https://getbootstrap.com/docs/5.1/forms/range/?

[2021-10-30 23:14] hakenr commented on #27
fixed by 5da4c2f7b419e1b8822409140ba74186df37a0ca

[2021-10-30 23:15] #27 closed

[2021-11-01 10:03] sshulik opened #33 "Failed to build Havit.Blazor locally"
I want to propose a few PRs with new components and improvements but can't build the Havit solution locally. My problems:

1. During the build I get the next error:
![image](https://user-images.githubusercontent.com/2964570/139653977-95a8405c-871d-4cd8-a7f5-9af7e95f5b9b.png)

Looks like it's some CI artifacts, but I am pretty sure that it's shouldn't be in common code. Is it possible to move it to

[2021-11-01 10:35] hakenr commented on #33
There is a SourceLink issue related to the fact we are deploying the project from Azure DevOps. Making the SourceLink conditional should resolve the issue. Will push the fix today.

I believe the fix will also resolve your issue 2).

[2021-11-01 12:49] crdo commented on #30
https://havit.blazor.eu/components/HxBreadcrumb ?

[2021-11-01 14:06] #30 closed

[2021-11-01 14:10] hakenr commented on #32
Doubts regarding naming
* colision with `HxInputDateRange` where it is "from" and "to"
* should this be `HxInputSlider`?
* do we prefer to stick with underlying HTML input naming?

[2021-11-01 14:44] hakenr opened #34 "[HxInputTags] Tab key handling"
* <kbd>Tab</kbd> when not empty = add new tag
* <kbd>Tab</kbd> when empty = focus next element (original tab behavior)

[2021-11-01 14:47] hakenr commented on #8
released

[2021-11-01 14:47] #8 closed

[2021-11-01 15:16] hakenr commented on #33
@sshulik, pull the latest version from master and **restart Visual Studio**. The build should succeed now.

(fixed with 445c740483703b1040793743b0ddb70116f477f9)

[2021-11-01 15:16] #33 closed

[2021-11-03 15:48] hakenr opened #36 "[HxInputTags] unconfirmed tag gets added after On[Valid]Click handling of the form"
If you just type a new tag name without confirming it and click a button in the form, the OnClick handler gets called before the new tag is accepted in control value.

(Related to the fact that we postpone onBlur handling to OnAfterRenderAsync to be able to decide whether the blur is related to dropdown or not.)

[2021-11-08 10:19] hakenr opened #37 "[HxCarousel] System.ObjectDisposedException: ObjectDisposed_Generic"
[code]

[2021-11-10 00:35] hakenr opened #38 "[HxPopover] Cannot read properties of null (reading 'removeEventListener') when leaving page early"
When leaving the page before the popover gets fully initialized:
[code]

**We need to make the JS test for popover instance existence.**

[2021-11-10 21:00] hakenr opened #39 "dotnet new template"
https://github.com/dotnet/templating/wiki

[2021-11-15 15:24] hakenr opened #40 "OnClickStopPropagation defaults"
Do we want to use `@onclick:stopPropagation` so extensively (default true) as we do?

[2021-11-16 14:53] spiderock98 opened #41 "Export HxGrid Data"
I need to export data table to pdf and xlsx format , is there any script or extension to support that. Thank you so much for your supports

[2021-11-16 16:30] hakenr commented on #41
Hi, there is currently no export built in our HxGrid component. The intended way is to use dedicated library (iTextSharp, Apose.Pdf, Aspose.Tables, ...) and use the same data to build an export using such library (usually, but not exclusively, on server side).

[2021-11-16 16:30] #41 closed

[2021-11-17 23:10] hakenr opened #42 "[HxAutosuggest] Add support for Delay="0""
Currently fails due to invalid Interval for backing Timer.
Might skip the Timer at all as HxInputTags does when Delay is set to 0.

cc @jirikanda

[2021-11-17 23:12] hakenr opened #43 "[HxAutosuggest] Support for Enter-key (selects first item in the suggested list)"
Not completely sure if we want this ultimately, but as we use HxAutosuggest for search in our documentation, some kind of auto-selection of first suggested item would be highly appreciated. (see search in Bootstrap documentation).

cc @jirikanda

[2021-11-21 17:48] robertmclaws opened #45 "[HxInputBase] Text inputs should specify Value update frequency"
Text input controls in Blazor are able to specify if they update bindings on input change or on blur. That ability should be surfaced up through your controls so that the developer can specify when they went their ViewModels updated.

Thanks!

[2021-11-21 23:08] hakenr commented on #45
Hi @robertmclaws,
the `HxInputText` component currently has `BindEvent="BindEvent.OnChange|OnInput` parameter. Can you please explain what scenarios you need to cover so we can think of the best design...?

cc @jirikanda

[2021-11-21 23:08] hakenr commented on #45
Hi @robertmclaws,
the `HxInputText` component currently has `BindEvent="BindEvent.OnChange|OnInput` parameter. Can you please explain what scenarios you need to cover so we can think of the best design...?

cc @jirikanda

[2021-11-22 17:29] robertmclaws commented on #45
OH! Sorry I missed that, it's not in the API docs.

If that is the case, then I'm seeing a couple issues with the Inputs docs (and probably the docs in general):
1) The API surface area is not alphabetized.
2) Inherited objects (like `HxInputNumber`) do not always show base class members (or if they do, like `InputGroupStart` & `InputGroupEnd`) they don't let you know specifically that they are in

[2021-11-23 00:49] hakenr commented on #45
Oops, you are right, we didn't even notice that the inherited members are missing. Will fix.

The order of members in API documentation currently corresponds to the order of members in the class, which we hope prioritizes the most relevant members and puts some members together according to the feature affected. I'm not sure if the alphabetical order will be better (any arguments? switchable?), bu

[2021-11-25 12:50] crdo opened #46 "[HxPager] Overflowing on mobile devices"
<img width="529" alt="image" src="https://user-images.githubusercontent.com/1410922/143444662-d5c2ec4c-ae01-4591-a5c7-86f1b8c52de0.png">
As the TableContainerCssClass only wraps the table itself, there is potential issue with HxPager overflowing on mobile devices if the number of pages is high even though the table-responsive class is used.

[2021-11-25 23:42] #45 closed

[2021-11-25 23:42] hakenr commented on #45
@robertmclaws In the end I decided to go with the alphabetical order of members. We will see if that proves to be right...

[2021-11-26 14:46] hakenr commented on #38
WIP @Harvey1214

[2021-11-29 14:47] hakenr commented on #46
Decision: to display arrows + three page-numbers + arrows on XS devices.

[2021-11-30 00:06] #38 closed

[2021-11-30 00:12] hakenr opened #47 "[HxDropdownToggleButton] ObjectDisposedException: Cannot access a disposed object. Object name: 'DotNetObjectReference`1'."
When leaving page too early you might get
[code]

[2021-11-30 00:40] #47 closed

[2021-11-30 08:50] crdo commented on #46
@jirikanda please apply following changes:
Page 1-3 no change
Page 4-5 add classes "d-none d-md-block"
Page 6-10 add classes "d-none d-lg-block"

[2021-12-02 08:55] bbchriscooper opened #48 "HxDropdownToggleElement is missing [Parameter] on the EventCallbacks"
HxDropdownToggleButton has [Parameter] on the OnShown and OnHidden EventCallbacks, but the attribute is missing from them on HxDropdownToggleElement. I'm guessing this is just an oversight not on purpose? It makes it impossible to assign the event handlers in the markup. (I'm assigning them in code at the moment as a workaround, but thats rather messy)

[2021-12-02 10:39] #48 closed

[2021-12-02 10:44] bbchriscooper commented on #48
That's great, thanks!

[2021-12-02 10:44] hakenr commented on #48
fixed in release https://github.com/havit/Havit.Blazor/releases/tag/v1.6.5

[2021-12-08 09:57] vinod-vetrivel opened #49 "[HxCheckboxList] Inline checkboxes"
Currently the HxCheckboxList doesn't support inline checkboxes as given in the bootstrap documentation [here](https://getbootstrap.com/docs/5.0/forms/checks-radios/#inline), and there is no option to set the CssClass of the individual HxInputCheckbox items.
Please add a property to select the layout, or the ability to set the CssClass of the individual checkboxes.
The same might exist on HxRadioBu

[2021-12-09 00:56] #49 closed

[2021-12-09 01:06] hakenr commented on #49
@vinod-vetrivel You wanted that and it is there, enjoy.
Published in release 1.6.6 ;-)

[2021-12-14 15:27] hakenr opened #50 "[HxCarousel] Add CarouselSlideEventArgs to OnSlide+OnSlid with From+To values"
https://getbootstrap.com/docs/5.1/components/carousel/#events

cc @Harvey1214, low-priority

[2021-12-19 01:39] diejozef opened #51 "[HxButton] Automatic Spinner only works with Task methods"
Hi,

The automated spinner currently only works if the invoked eventhandler is wrapped into a Task.Run call.
e.g.
`<HxButton Text="Test" OnClick="@(async () => await Task.Run(() => DbContext.Database.EnsureCreated()))"/>`
works, however
`<HxButton Text="Test" OnClick="@(async () => await DbContext.Database.EnsureCreatedAsync())"/>`
does not.

Is this a limitation?

Thanks

[2021-12-19 09:26] hakenr opened #53 "[HxTooltip] [HxPopover] [HxTooltipInternalBase] [HxButton] - d-inline-block wrapper?"
Opened by @robertmclaws in PR #52.

[2021-12-19 09:38] hakenr commented on #51
Hi @diejozef,
thanks for reporting the issue, we will look into this deeper.

From the very first point of view, there has to be `Task` returned to be able to run the spinner as without the `Task` there is nothing to await for.

In the meantime, you should be able to workaround this by wrapping any code in awaitable method returning `Task`, such as
[code]

BTW: Your second example does not have to

[2021-12-19 09:48] hakenr commented on #51
Confirming...

The button spins if there is a `Task` to await:
[code]

This does not spin as there is no `Task` to await, no chance to interrupt the call an render the spinner.
[code]

This is by design and you should always prefer awaitable Tasks in Blazor UI code.

We will stress this behavior in `HxButton` documentation to help the users understand it.

[2021-12-19 10:14] diejozef commented on #51
The following handler won't show the spinner either:
[code]

So this means that I'll have to return with a Task at the end of the function no matter what?

[2021-12-19 10:29] hakenr commented on #51
Your code returns Task and should work. You can easily test it by replacing the `await Db.Database.EnsureCreatedAsync()` with `await Task.Delay(2000)`.

Please check your implementation of `EnsureCreatedAsync()`. It should await the asynchronnous I/O operation with database. Also check whether it does take enough time for the user to actually see the spinner?

[2021-12-19 10:35] diejozef commented on #51
Tried it with `Task.Delay(2000)` and got the expected result (spinner shown), however that EF Call (`EnsureCreatedAsync`) just freezes the UI for a few seconds without showing a spinner. Wrapping `EnsureCreated` in a `Task.Run` results in correct behavior as well which is weird.

[2021-12-19 15:33] hakenr commented on #51
Well, the `Task.Run()` enques the action to the `ThreadPool` and returns a `Task` which completes after the action is completed. This usually means the action gets executed on separate parallel thread.

On the other hand, the behavior you see with `EnsureCreatedAsync()` usually means there is a significant amount of synchronous work (CPU bound) being executed before the inner asynchronnous I/O ope

[2021-12-20 10:07] diejozef commented on #51
I'm actually running EF Core (Sqlite) in Blazor WebAssembly. Thank you for clarifying the underlying issue.

[2021-12-20 11:20] #51 closed

[2021-12-27 20:26] hakenr opened #54 "Application-wide default for input-sizes (HxDefaults.InputSize?)"
Instead of having to set `HxComponent.Defaults.InputSize` for every single input component, allow using some central setting such as `HxDefault.sInputSize`.

Suggested names?

[2022-01-03 21:58] DaleCam opened #55 "HxGrid - System Aggregate Exception"
First of all I have you thank your team for such an incredible amount of work and excellent documentation! It really is superb!

I am currently using the HxGrid without it being wrapped in an "if data is not null" block  because i loved the loading skeleton you guys provide. It currently shows the nice "loading" skeleton:
![image](https://user-images.githubusercontent.com/4400216/147984599-69e9d56

[2022-01-04 01:06] hakenr commented on #55
Hi @DaleCam,
thanks for the feedback on our component library and documentation.

The exception you met is caused by the fact that the method you use as `<HxGrid DataProvider="SomeMethod" />` returns `GridDataProviderResult` where the `Data` property is `null`. This should never happen (we will probably add some internal check to the code and throw a more helpful exception) as the DataProvider sho

[2022-01-04 02:20] DaleCam commented on #55
Ahh thank you so much that makes so much sense now! Thank you for your fantastic explanation and example code - its now working a treat. My apologies to create you more work!
(If you get to Budapest any time soon let me know and drinks on me :)

[2022-01-04 02:20] #55 closed

[2022-01-04 16:03] hakenr commented on #37
Resolved earlier.

[2022-01-04 16:03] #37 closed

[2022-01-04 17:16] walterX12 opened #56 "Question:HxCarousel - do not stop"
Is it possible to cycle througt slides in HxCarousel without stopping, when user points mouse on slide ?

I am trying to achieve, that Carrousel would be sliding all the time. User cannot stop it anyhow.
Is it possible ?

[2022-01-05 01:14] hakenr commented on #56
Hi @walterX12,
as far as I understand, according to [Bootstrap Doc](https://getbootstrap.com/docs/5.1/components/carousel/#options), if you want to let the carousel sliding all the time without interference with the mouse, it is needed to set the `pause` option to `false`.

Such option is currently not implemented in `HxCarousel` and you would need to adjust the underlying bootstrap-carousel optio

[2022-01-05 03:31] walterX12 commented on #56
Thank you for quick reply. I am happy to wait several days. Thank you in advance

[2022-01-10 07:44] robertmclaws opened #57 "[HxInputNumber] Needs to limit inputs by range and numeric characters"
Other Numeric Blazor controls ([like Radzen's Numeric](https://www.radzen.com/documentation/blazor/numeric/)) allow for limiting the inputs by Min, Max, and alpha characters. I believe this control should behave in a similar manner.

For example, I was able to use the built-in support to get your control to render like this, but I cannot limit it to only positive integers without extra code.
![ima

[2022-01-10 13:29] hakenr commented on #43
Inspiration for naming:
* https://github.com/moroshko/react-autosuggest#props - `HighlightFirstSuggestion`

[2022-01-10 13:47] hakenr opened #58 "[HxInputDate] - name and logic consolidation for DefaultDates, UseDefaultDates"
`static HxInputDate.DefaultDates` => `InputDateSettings.SuggestedDates` (`HxInputDate.Defaults.SuggestedDates`) - Today defined here

`HxInputDate.UseDefaultDates` => `ShowSuggestedDates` - overall on/off

`HxInputDate.SuggestedDates` => override for Defaults/Settings.SuggestedDates

[2022-01-10 13:48] hakenr opened #59 "[HxInputDate] - Extra footer"
Inspiration: https://ant.design/components/date-picker/#components-date-picker-demo-extra-footer
Can be used as an alternate to `SuggestedDates` or for hint?

[2022-01-10 22:37] hakenr commented on #58
Closed by 0807a4d187e0b41e9a4cf95b7fa666c20ed64539 and 8e9850b4a6c736ae16d42113030bbda94a702c6b.

[2022-01-10 22:37] #58 closed

[2022-01-11 04:20] robertmclaws commented on #53
The PR referenced was closed, so you can probably close this too. Thanks!

[2022-01-11 04:22] robertmclaws commented on #7
I never really understood what the point was. Using a div is fewer characters, and also doesn't requiring spinning up and managing a class of object to maintain state on. Not assuming that my opinion matters here, but I personally think it's a waste of time.

[2022-01-11 06:27] pm100 opened #60 "Modal onShown not working"
Just upgraded to 2.0 cos i saw this new feature. I suspect I have a timing issue (Modal is popluated by background stuff once its shown) and this looked like a solution, ie wait till modal is fully shown. But the callback is not executed (the modal shows and works fine, apart from my timing issue)

[code]

then
[code]
the shown code is never called

[2022-01-11 07:56] #53 closed

[2022-01-11 08:16] hakenr commented on #60
Hi @pm100,
unfortunately, I was not able to reproduce your issue.

If I create a simple repro (add `OnShown` to the first `HxModal` demo), the `OnShown` message gets logged to console:
[code]

Please doublecheck your code and if you still experience this issue, please provide more detailed steps to reproduce.
Thank you.

[2022-01-11 23:24] hakenr commented on #60
Oops, this has to be copy&paste mistake in the doc, will fix.

[2022-01-11 23:30] hakenr commented on #60
Fixed with 9c06bd3ad17639af952cd7d8eb29327d6d3bc44b

[2022-01-11 23:30] #60 closed

[2022-01-11 23:57] hakenr commented on #7
Putting this down, at least for now.

[2022-01-11 23:57] #7 closed

[2022-01-11 23:59] hakenr commented on #4
This has been consolidated with Defaults & Settings.

[2022-01-11 23:59] #4 closed

[2022-01-12 00:42] pm100 commented on #60
question, how come the Modal isnt fully shown by the time the awaited ShowAsync is completed? The natural assumption is that if I do `await modal.ShowAsync()` then when control returns to me the Modal is ready to go. I needed to actually wait till OnShow callback is called (otherwise I got timing errors that were hard to track down) - the doc needs to explain what is and isnt ready when `await mod

[2022-01-12 16:06] #56 closed

[2022-01-12 16:31] hakenr commented on #25
@Harvey1214, can you please check the behavior of `HxInputTags` when it is `Enabled="false"`? I think this was already fixed and we can close this issue.

[2022-01-12 16:33] hakenr opened #61 "[HxGrid] Add demo with inline-editing"
We have no ready-made inline editing in `HxGrid`, however it should be possible to use the `ItemTemplate` parameter of `HxGridColumn` to customize the cell content and with a few lines of code (`@if (item == selectedGridItem)` etc.), an inline-editing experience can be achieved.

Requested here: https://www.reddit.com/r/Blazor/comments/s19fcr/comment/hs8bq76/?utm_source=share&utm_medium=web2x&cont

[2022-01-12 16:34] hakenr commented on #61
cc @Harvey1214. low priority

[2022-01-12 16:35] hakenr commented on #22
Done.

[2022-01-12 16:35] #22 closed

[2022-01-12 16:37] hakenr commented on #21
Done.

[2022-01-12 16:37] #21 closed

[2022-01-12 16:38] walterX12 commented on #56
Thank you. It helps

[2022-01-12 16:39] hakenr commented on #6
The plan is to add  `HxInputBase.ValidationMode = Regular | Tooltips | KeepSpace`.

[2022-01-12 16:40] hakenr commented on #28
The plan is to add `HxInputBase.ValidationMode = Regular | Tooltips | KeepSpace`.

[2022-01-12 16:41] hakenr commented on #56
Will be part of next release, probably tonight or on Friday.

[2022-01-12 17:24] #50 closed

[2022-01-12 23:01] pm100 opened #62 "HxIcon doc page points to bad location"
![image](https://user-images.githubusercontent.com/489231/149236613-53f6144d-629f-43be-8db9-721dd3064b3b.png)

the second link points to an azure page that needs credentials. I suspect it should point to  github source file

[2022-01-13 00:00] hakenr commented on #62
Correct.
@Harvey1214 please change the link to GitHub source code.
Or maybe better to https://havit.blazor.eu/types/BootstrapIcon? Or both...

[2022-01-13 08:21] hakenr opened #63 "[HxTreeView] DataProvider - lazy data loading"

[2022-01-13 08:22] hakenr opened #64 "[HxTreeView] select on expand?"
do we want to change selected value with collapse/expand arrow? (currently does)

=> probably not a good default behavior

just fix or add `bool SelectOnExpand` parametrization?

[2022-01-13 08:24] hakenr opened #65 "[HxTreeView] - Expand/collapse transition animation"
Use `HxCollapse` for implementation?

[2022-01-13 10:12] hakenr commented on #46
Future plans: The breakpoint should be configurable as we do not know the layout of the page.
We might support several breakpoints where the number of displayed pages will be decreasing.

[2022-01-14 12:38] hakenr commented on #64
Closed with e2c901f390cbca4715e601af8f3b7897c9d6e50c.

For now, we decided to go without parametrization.
See similar discussion for Material UI (valid arguments there): https://github.com/mui-org/material-ui/issues/22024.
If needed, we can add parametrization for this in the future.

[2022-01-14 12:43] hakenr commented on #40
As our approach seems not to cause any issues, closing this issue (at least for now). Feel free to reopen if you have real scenarios where you want the click to propagate.

[2022-01-14 12:43] #40 closed

[2022-01-14 12:51] hakenr commented on #26
We don't feel this components is highly demanded:
* the case for entering time (or date+time) is quite rare
* most known date+time pickers are not considered "a good UX experience"
* you can combine our HxInputDate with your own UI, e.g. two HxSelects for hours+minutes.

...keeping this open for any volunteer willing to propose his solution. ;-)

[2022-01-14 14:11] #25 closed

[2022-01-14 15:28] #61 closed

[2022-01-14 15:37] #62 closed

[2022-01-14 16:38] hakenr commented on #56
Release just now. https://github.com/havit/Havit.Blazor/releases/tag/v2.0.1

[2022-01-15 16:08] hakenr commented on #60
@pm100, this is based on fact that the Bootstrap's modal component has a "transition" (animation) when being shown. The ShowAsync() method triggers the action, but it returns before the transition is completed. That's why there is the OnShown event. Will try to make this more obvious in the doc.

[2022-01-17 21:45] sebastianbk opened #66 "[HxGrid] Support for IQueryable<T> (sample of IQueryable usage with HxGrid as standalone repo)"
First of all, thank you very much for this fantastic library.

I have used it quite extensively and stumbled upon a thought I’d like to share with you. I have used the `HxGrid` a lot and I am starting to wonder why it doesn’t support and leverage the `IQueryable<T>` interface fully.

I understand that writing a custom data provider can offer a higher level of flexibility. However, in 99% of my sce

[2022-01-18 08:29] hakenr commented on #66
Hi @sebastianbk,
interesting proposal.

We did not think of such feature, because it is not how we build applications in our team. We believe a presentation-layer should be separated from a data-layer and providing the `IQueryable<T>` to the outside world (to the presentation-layer) is not an ideal approach (insufficient encapsulation, uncontrollable gate to data, security concerns, etc.).

But I

[2022-01-18 13:19] hakenr opened #67 "StrongApiStringLocalizers - fails when ResourcesServiceCollectionInstaller.cs uses file-scoped namespace"
When the `ResoucesServiceCollectionInstaller.cs` (marker file) changes to file-scoped namespace, the generator does not generate any files.
[code]

When reverted to block-scoped namespace, everything works just fine...
[code]

Suspicious lines of code:
https://github.com/havit/Havit.Blazor/blob/4b926a1ba9823acb15feb62c3df1bce78d9521f8/Havit.SourceGenerators.StrongApiStringLocalizers/LocalizerGener

[2022-01-18 15:24] hakenr opened #68 "[HxInputTags] support for input-groups (incl. templates)"
...e.g. to be able to set filtering mode (ALL / ANY).
![image](https://user-images.githubusercontent.com/12828888/149966078-654b5b53-7817-40c5-a24f-6e99f43806ab.png)

[2022-01-19 00:28] pm100 opened #69 "labels on the left"
I would like to have

      enter foodle: [               ]

the docs says (for HxInputXXX)

      Label to render before input (or after input for Checkbox).

Which strongly suggests that the label should appear to the left. (It would say 'above' if it meant above.)

However the label always appears above (even your examples).

Is there a way to get a left side label, and either way the doc shoul

[2022-01-19 00:46] hakenr commented on #69
Hi @pm100,
"before" in this case means that the `label` element is in the DOM before the `input` element, no matter the final layout achieved through CSS is. The default Bootstrap CSS renders the label "above" the input. We will consider clarifying this in the doc.

@crdo Am I right? Is there anything what has to be changed in the input components to be able to achieve the desired layout or is it

[2022-01-19 01:12] pm100 commented on #69
First of all can I just say its wonderful how responsive you are and what a great toolset you have

Surprisingly the check box label is shown to the right

Also there is a stackoverflow discussion about this (at the blazor level) that you might be interested in

css - Label on the left side instead above an input field - Stack Overflow<https://stackoverflow.com/questions/18404003/label-on-the-left

[2022-01-19 09:42] crdo commented on #69
It seems that we missed it while implementing the `HxInputs`.

As per the Bootstrap docs https://getbootstrap.com/docs/5.1/forms/layout/#horizontal-form we need to be able to add class `row` on the wrapping `div` which means introducing `InputGroupCssClass` I guess but also to wrap the `input` itself with another div with specified grid col CSS class eg. `col-sm-4`.
InputCssClass is already presen

[2022-01-19 11:20] hakenr commented on #69
@crdo @jirikanda  Do we want to support that directly with `LabelType.Horizontal`?

[2022-01-19 20:01] pm100 commented on #69
I wonder if you could support this

https://getbootstrap.com/docs/5.1/forms/input-group/

Since that explicitly places labels either left or right

[2022-01-20 08:51] robertmclaws commented on #66
Hey @hakenr, glad you're thinking about adding this. I disagree with your second paragraph in that OData and Restier allow for presentation-layer controls to have direct queryable access to the data without the security concerns. It's perfectly reasonable to have a Grid bound directly to OData results, and to leverage grid searching, filtering, and sorting to change the shape of the data coming ba

[2022-01-20 10:13] hakenr commented on #66
BTW, I was asked several times to help other development teams resolve their issues with OData and the story usually goes like this:
* DAY-0, Dev-lead: "Hey, I found something amazing! Take a look at OData a comfortable way to expose backend data to front-end app..."
* DAY-5, Dev-team: "Amazing! We can provide the data to the front-end team so easily. We don't have to discuss every single API with

[2022-01-20 11:12] diejozef opened #71 "[HxInput] Bound setter not getting called"
Hi,

I ran into a problem after trying to create a formatted text input box using your `HxInputText` component. When typing the same thing into the box, the setter won't be called (which is probably by design), however even after setting the bound variable to something else and calling `StateHasChanged` results in no change whatsoever.

Consider the following example:
[code]

[code]

My expected r

[2022-01-20 12:26] crdo commented on #69
InputGroups are supported already... https://havit.blazor.eu/components/Inputs#InputGroups

[2022-01-20 17:54] robertmclaws commented on #66
Totally seen that before as well, and understand why you would have that experience.

That's what [Restier](https://github.com/OData/RESTier) is for. It runs interceptors on every entity at any point in the query process to allow data to be filtered down to only what the user can access, no matter how they structure their queries.

Restier has been around for about 5 years now, and it's usually wh

[2022-01-21 15:40] crdo opened #72 "[HxInputTags] To add TagCssClass parameter"
To be able to fulfil some design requirements, I need to have a possibility to add custom css class to each Tag, including the AddTag button.

[2022-01-21 15:53] diejozef commented on #71
This issue seems to be present in other component frameworks as well. [Radzen Numberic Formatted Value](https://blazor.radzen.com/numeric)
The formatted value won't be formatted if the input value is the same.

[2022-01-23 00:17] #67 closed

[2022-01-23 00:24] hakenr commented on #72
Considering adding `HxBadge.Settings` and `HxInputTags.TagBadgeSettings`. This will allow setting not only CssClass but also `Color`, `TextColor` and `Type` + will bring support for `HxInputTag.Defaults.TagBadgeSettings.CssClass` out of the box.

(The only cons is that it leaks the implementation detail - that we use HxBadge for individual tags - we won't be able to change that later without break

[2022-01-23 15:47] hakenr commented on #71
@jirikanda, can you please take a look and provide an explanation or workaround?
This is a know issue in Blazor inputs, coming from `InputBase`, maybe even deeper (`input` element itself).
There is a demo for this at BlazorTestApp/HxInputTextTest.
Thank you.

[2022-01-23 16:30] hakenr commented on #72
commit 270bcef4403c89b37a5e46c233b933225392d73a

[2022-01-23 16:32] #72 closed

[2022-01-24 07:51] jirikanda commented on #71
Hi diejozef,

it is easy to achieve the same behavior without FocusOut method.
Try the following demo, enter "20" to the text box again and again. It formats the value to "20h" but only for the first time (the value is not formatted until you enter another value).

[code]

Why this happens?
Imagine, the HxInputText component somewhere inside renders (in brief):
[code]

OK, the _20h_ value is rende

[2022-01-24 11:36] hakenr opened #73 "[HxButtonGroup] - direct support for HxCheckboxList, HxInputCheckBox, HxRadioButtonList"
Currently, if you want to create button-group with checkboxes or radio buttons, you have to combine `HxButtonGroup` with plain `InputCheckbox` or `InputRadio[Group]` components. See https://havit.blazor.eu/components/HxButtonGroup#CheckboxesAndRadios

We might want to support our HxCheckboxList, HxInputCheckBox and HxRadioButtonList components for this scenario.

Currently, their HTML output is no

[2022-01-24 14:53] diejozef commented on #71
@jirikanda thank you for this thorough answer and for the potential solution as well. I didn't know of `@key`, I'll make sure to read up on it.

Can you perhaps give me an explanation on why this (my very first code snippet) works (without `@key`) when simply using `<input>` ?  Also, why is `StateHasChanged` not sufficient in this case? Isn't that function supposed to 'force' a refresh of the elem

[2022-01-31 07:01] jirikanda commented on #71
@diejozef

Using StateHasChanged you are requesting to update the "current" component. And yes, it should update all child components but the optimalization says: "Hey, the child component has no parameters changed, so let's skip updating of this child component to save some performance, battery, ..."

If you would like to deep dive into the logic "how Blazor determine whether the parameters are c

[2022-01-31 07:57] hakenr commented on #71
From my point of view, `StateHasChanged()` is here not strong enough in any case (no matter of the child/parent or parameters here).
Although the component signals to rerender, the result of rendering goes into the virtual DOM.
It is the virtual DOM diff-logic which does not find any differences as it is not aware of the current `value` of the `input`, but compares the new value with the original

[2022-01-31 13:42] crdo opened #74 "[HxSelect] To add support for InputGroup"
Bootstrap Select officially [supports InputGroups](https://getbootstrap.com/docs/5.1/forms/input-group/#custom-forms) but HxSelect does not.

Following should be added.
- InputGroupEndTemplate
- InputGroupStartTemplate
- InputGroupEndText
- InputGroupStartText

[2022-02-03 09:13] crdo opened #75 "[HxContextMenu] - Accessibility - Using static ID"
HxContextMenu has a static ID (_dropdownMenuButton_) that is used repeatedly when the component is present multiple times on a page (eg. in HxGrid).

That is an accessibility anti-pattern.

[2022-02-09 16:03] hakenr commented on #71
@diejozef,
we found the reason for this and we are trying to verify the solution with Microsoft ASP.NET Blazor team:
[#40097 InputText and other input components do not use SetUpdatesAttributeName() for two-way binding](https://github.com/dotnet/aspnetcore/issues/40097)

We are currently able to fix this in our components but we want to verify with Blazor team that it does not cause any unwanted s

[2022-02-09 16:06] hakenr commented on #71
@diejozef, please note, after the fix, you will still have to create a derived component to achieve what you want - override the `FormatValueAsString` method, e.g.:

[code]

[2022-02-11 23:48] GeeSuth opened #76 "[HxModal] Dialog Can be Moving in screen"
Hey,
I think be a good option to make dialog moving like
https://jqueryui.com/dialog/#default

[2022-02-13 18:08] GeeSuth opened #77 "HxAutosuggest After set show model name"
Hey, After select the item not show name you select
[code]
and
[code]

I confusing what problem exactly when i sure it's similar to https://havit.blazor.eu/components/HxAutosuggest

![image](https://user-images.githubusercontent.com/10328974/153768473-6a2d89a7-592e-483c-ae2f-ef3c48f5b6aa.png)

[2022-02-13 18:20] GeeSuth commented on #77
![image](https://user-images.githubusercontent.com/10328974/153768852-52855a08-61ba-40c4-a001-a466c8c3bcfd.png)

it's working, you need to override ToString() to value you want

[2022-02-13 18:20] #77 closed

[2022-02-14 11:45] hakenr commented on #77
@GeeSuth You might want to set the `TextSelector` parameter:
[code]

[2022-02-14 12:05] hakenr commented on #76
@crdo, this is probably not supported by Bootstrap 5 Modal. Do we want to investigate custom options?

[2022-02-14 12:38] crdo commented on #76
If you need your content visible when displaying some modal-like component use a Offcanvas.

[2022-02-15 08:55] hakenr commented on #76
Summary: We currently do want to use pure Bootstrap 5 Modal and the draggability will be supported as far as Bootstrap itself will support it.

[2022-02-15 08:55] #76 closed

[2022-02-15 08:56] hakenr commented on #71
Blazor PR: https://github.com/dotnet/aspnetcore/pull/40234
Havit.Blazor WIP.

[2022-02-15 11:36] crdo opened #78 "[HxSidebar] Expand section if current location matches HxSidebarItem href"
If I directly navigate to some page that matches some HxSidebarItem, I would like to have its section open (expanded).

[2022-02-15 23:59] #75 closed

[2022-02-18 12:40] hakenr opened #79 "[HxAccordion] - refactoring to use HxCollapse"
Bootstraps implementation of Accordion is derived from Collapse.
...we should probably unify the implementation on our side as well.

[2022-02-18 12:55] hakenr opened #80 "Themes in documentation"
PoC in branch feature/themes

API: https://bootswatch.com/help/#api

[2022-02-21 09:07] hakenr commented on #80
@crdo, the basic support for Themes in doc is there. Needs visual cleanup, thanx!

[2022-02-21 09:15] hakenr commented on #80
@crdo, we also need to find a new place for the GitHub repo link (removed from Sidebar footer in favor of themes switching).
I would go for some place in top of the page as it is usual there.

[2022-02-22 08:19] petrkasnal opened #81 "[HxInputDate] - Possible add time picker"
Hello, thank you for your perfect framework. I have question about input date. Is possibility add time picker or can you tell me how i can do it easiest way?

Thank you very much :)

[2022-02-22 08:40] hakenr commented on #81
Hi @petrkasnal, you can use the [`HxInputDate`](https://havit.blazor.eu/components/HxInputDate) component.
See the documentation for the usage. You can set `CalendarIcon="BootstrapIcon.Calendar"` if you want to show the calendar icon.
Is it what you need?

[2022-02-22 08:46] petrkasnal commented on #81
Hi @hakenr, thank you for fast response. No i mean if is any posibility how use HxInputDate with time picker or how can i do it easiest way with your component. I mean something like this
![image](https://user-images.githubusercontent.com/90285874/155095420-fc058b5f-fc64-4476-a3eb-9e0b266d9d58.png)

Thank you

[2022-02-22 08:51] hakenr opened #82 "[HxInputDate] Cursor shape for CalendarIcon"
Currently displayed as `text` as there is the `pointer-events: none;` to handle drop-down interactions.
There should be standard cursor for the icon.

[2022-02-22 08:53] hakenr commented on #81
Aah, I see.
It is currently not prepared as built-in component, you can put together your own using the HxCalendar and HxDropdown.
The request for time-picker is already in backlog - #26.

[2022-02-22 08:53] #81 closed

[2022-02-22 09:08] petrkasnal commented on #81
Ok thank you very much.

[2022-02-22 09:10] hakenr commented on #81
@petrkasnal Feel free to submit a PR with such a component. ;-)
Your contribution will be more than welcome.

[2022-02-23 18:59] petrkasnal opened #83 "[HxInputDate] Not invoke field change"
Hi, i maybe found little bug in component hxinputdate. But i'm not really sure if it is a bug. When is value changed component only notification validation state changed but don't notification field changed. Normally is invoke field change too.  I use it for show/hide submit button. But maybe i haven't right and this is correct behaviour.

Thank you very much. :)
![image](https://user-images.githu

[2022-02-24 09:18] hakenr commented on #83
Hi @petrkasnal,
the `ValueChanged` and `editContext.NotifyFieldChanged` callbacks are called from `CurrentValue` property setter (`InputBase`). These are called only when the value gets parsed correctly.
See https://github.com/dotnet/aspnetcore/blob/e0110ad9ea7e7ba646aff35832fedb5a588c6e1d/src/Components/Web/src/Forms/InputBase.cs#L72-L81

[2022-02-24 15:41] petrkasnal commented on #83
@hakenr thank you for response. I understand, but when you insert correctly date and after write something incorrect like text the NotifyFieldChange isn't invoke. And i can't update property FormValid. I update button state on OnFieldChange, beacuse i found many tutorials on this. Or should i update FormValidate property another way? I tried update my property in event OnValidationStateChanged wit

[2022-02-24 18:29] petrkasnal commented on #83
Aaah ok thank you very much :) I'll look forward to it.

I try it like this. But it's logicaly again call this method to infinite. How i can do it correctly please? Thank you
![image](https://user-images.githubusercontent.com/90285874/155584221-473bc6eb-f004-4759-81aa-ab686fcc89dc.png)

[2022-02-25 15:33] JranZu opened #84 "HxSelect - ValueChanged AND bind-Value conflicts"
I am trying to use the HxSelect component.  After an option is selected I need to make an Async call to get data from our database.

`<HxSelect Data="@OurInfo" TextSelector="@(d => d.Name)"
          @bind-Value=SelectedInfo
          TItem="OurInfoDto" TValue="OurInfoDto"
          ValueChanged="SelectedInfoChanged"
          Nullable="true" NullText="-- choose info --" NullDataText="Loading info

[2022-02-25 15:42] hakenr commented on #84
@JranZu,
the usage should be
[code]

[2022-02-26 00:53] JranZu commented on #84
Thanks, that fixed it.

[2022-02-26 00:53] #84 closed

[2022-02-26 17:26] hakenr opened #85 "[HxDropdown] DropdownReference does not support HTMLElement references"
Bootstrap allows setting dropdown-reference in several ways where referencing a generic HTML element has to be done via HTMLElement DOM object, wheras our current implementation expects `#refid` selector.

...has to be adjusted to allow passing correct references.

https://getbootstrap.com/docs/5.1/components/dropdowns/#options
https://popper.js.org/docs/v2/constructors/#usage

[2022-02-28 09:14] hakenr commented on #85
Waiting for Bootstrap release with this fix:
https://github.com/twbs/bootstrap/commit/5f1c542d677add524c94054ba8583269d81d87d0

[2022-03-04 15:19] Kodestuen opened #86 "HxSelect fire event OnChange"
Trying to catch an OnChange event when a dropdown/select changes.

But that seems impossible, you can only use @bind-Value.

But for my use case I want to filter another HxSelect, and then I really need to catch a OnChange event.

The documentation/examples does not indicate is possible, but hopes I'm wrong :-)

Best,
CU

[2022-03-04 15:38] hakenr commented on #86
@Kodestuen, `@bind` in Blazor is just a syntactic sugar for  `Value` and `ValueChanged` parameters (+ `ValueExpression` where applicable).
You can use the `ValueChanged` event-callback directly to act on value change:

[code]

More details: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/data-binding

[2022-03-04 15:49] Kodestuen commented on #86
Arhh you are a friend, tried :

`<HxSelect ... Value="valueField" ValueChanged="HandleValueChanged" />`

But was missing the `ValueExpression="() => valueField"` part.

Now I'm a bit more enlightened, so thank you so much!

[2022-03-04 15:49] #86 closed

[2022-03-07 14:19] hakenr commented on #78
@crdo Should be achievable with pure CSS?

[2022-03-07 15:34] petrkasnal commented on #83
Thank you very much :)

[2022-03-07 15:41] petrkasnal opened #87 "[HxFileInputBase] not working cancel"
Hi, i use HxInputFile and everything is good. I tried your example on https://havit.blazor.eu/components/HxInputFileCore/. I add cancel button for remove image and it doesn't work. When i click on cancel button i got this error.

`<HxInputFile @ref="hxInputFileComponent" Accept="image/*"  />
<HxButton Text="Cancel" Color="ThemeColor.Danger" OnClick="() => hxInputFileComponent.ResetAsync()" />`

[2

[2022-03-07 15:49] hakenr commented on #83
Not fixed/verified yet, just a comment for my colleague. :-D

[2022-03-07 15:51] hakenr commented on #87
We did some changes in `HxInputFileCore` few days ago. This might be a regression. Will look into it and get back to you...

[2022-03-07 15:59] petrkasnal commented on #87
@hakenr ok thank you :)

[2022-03-07 18:01] JranZu opened #88 "[HxGrid] - Update Grid when data changes"
I have an HxGrid setup and it works great - however when new data is loaded for the grid it doesn't update.  I'm calling StateHasChanged() -- but other than that I can't figure out what to do.

[code]

[code]

[2022-03-07 23:16] hakenr commented on #88
Instead of `StateHasChanged()` catch the reference to the grid with `@ref` and call `grid.RefreshAsync()`.

[2022-03-07 23:57] JranZu commented on #88
I was looking for that earlier -- I'm not seeing an method for RefreshAsync  -- is there a using statement I need for an extension method perhaps?  I'm binding to HxGrid type....

[code]

[2022-03-08 00:02] JranZu commented on #88
Nevermind. :D  - I figured it out -- my object should HxGrid<T>  -- Thanks

[2022-03-08 00:02] #88 closed

[2022-03-08 00:20] hakenr commented on #88
Just published an update of documentation of [`HxGrid`](https://havit.blazor.eu/components/HxGrid) where the `RefreshDataAsync()` method got its own demo.

[2022-03-08 08:13] #87 closed

[2022-03-08 08:14] hakenr commented on #87
Fixed in release 2.2.4

[2022-03-08 17:36] petrkasnal commented on #87
Great! Thank you :)

[2022-03-09 07:47] robertmclaws opened #89 "[HxDropdownItem] Can't set class on <li> element"
This one is pretty self-explanatory. I need to be able to set the CSS class on the LI element wrapper. But the LI is hard-coded with no style property.

Could add a ContainerCssClass property that would let me pass that in properly.

Thanks!

[2022-03-09 09:03] hakenr commented on #89
@robertmclaws Yes, I already realized that and was waiting for the real scenario where this will be needed/requested.
(BTW: Similar to `HxNav`-family, there is still a chance the `ul-li` will be removed some time.)

I'm still not sure about the naming. Maybe rather `ListItemCssClass`?

[2022-03-09 20:14] robertmclaws commented on #89
I actually liked that the ul-li was there, and it worked out really well for our use-case. Essentlailly I needed an HTML-powered Popover, and the HxDropdown with some CSS to remove the caret and disable mouse interactions on the UL solved the problem nicely.

I thought about that property too. The reason I suggested `ContainerCssClass` instead is because, throughout the library, the actual thing y

[2022-03-09 20:29] petrkasnal opened #91 "[HxGrid] sorting on IQueryable"
Hello,

i use your hxgrid. And i processing data on seperate service. I do pagination, filtering and sorting. I want use your implementation of sorting because i want do it in my service. In your component is this:
[code]

But this is working only for IEnumerable. I would like have sorting on iquryable, because filtering and pagination i have. I try your implementation and it doesn't work on IQury

[2022-03-10 09:07] crdo commented on #89
@robertmclaws haha, this (HTML powered Popover via HxDropdown) is actually pretty ingenious solution, we might try it as well. Such a pity that you can only provide content to the Popover with title/string.

[2022-03-10 09:10] crdo commented on #91
Duplicate with #66

[2022-03-10 10:47] petrkasnal commented on #91
Hello, i understand the second part and why isn't good use quryable in frontend. I use dbcontextfactory so It still wouldn't work for me. I should have thought more. But here is still first question maybe more like advice. Do you have implementation of sorting for iquryable in backend? Thank you

[2022-03-10 11:52] hakenr commented on #91
we have some helpers but most of the time we code it manually

We use `Havit.Collections.SortItem[]` as Data Transfer Object (DTO) between client and the server. The column is represented with string there + we use `nameof(...)` for better maintainability.

On client-side you map the sorting request to DTO:
[code]

...server-side sorting of IQueryable (`OrderBy()` and `OrderByMultiple()` are exten

[2022-03-10 23:12] hakenr commented on #89
Just added `ContainerCssClass` to all the HxDropdownItem-like components.
Will be included in next release.

[2022-03-10 23:12] #89 closed

[2022-03-11 15:53] hakenr commented on #71
...wating for actions in ASP.NET Blazor itself (opened PR) - we want our implementation to be aligned with that.

[2022-03-11 16:17] #34 closed

[2022-03-14 16:22] HybridSolutions opened #93 "Feature: Drag and Drop for the HxTreeView?"
Hello,

first of all, amazing set of components. One of the best out there! For me only lacks a little interactivity like drag & drop. Is it planned to add such a feature at least to HxTreeView?

Thank you!

[2022-03-14 16:52] hakenr commented on #93
@HybridSolutions, thanks for your feedback.
We plan to add drag&drop features as it will be directly supported by Blazor itself.

Currently, custom-implementations would be needed, where we don't want to take a different path than Blazor itself will later choose (which is still unclear).

=> Will put the suggestion to backlog for future processing.

[2022-03-14 17:08] HybridSolutions commented on #93
@hakenr thanks for the fast reply! Any place where I can read more about that native support in Blazor? Thank you!

[2022-03-15 00:41] hakenr commented on #93
https://github.com/dotnet/aspnetcore/issues/18754

[2022-03-15 12:39] jirikanda commented on #83
Implementation details:
* HxInputNumber sets value using the CurrentValueAsString property setter.
* HxInputDate sets value using the CurrentValue property setter.

The small difference can be hidden in [this line in CurrentValue setter](https://github.com/dotnet/aspnetcore/blob/47334b76dccb4eee3a886d8b974f589399f0b506/src/Components/Web/src/Forms/InputBase.cs#L74) - it means when the value is fix

[2022-03-16 17:50] baneTN opened #94 "[HxMultiselect] Multiselect component support"
Hi,
Do you maybe plan support for multiselect component?
Currently we are using HxInputTags in order to get more values selected, but unfortunately this only supports strings, not an object.

Thanks for the great library!

[2022-03-16 23:54] hakenr commented on #94
Hi @baneTN,
the multiselect component is on our roadmap, one of the top new features on the list.
It should be [`HxSelect`](https://havit.blazor.eu/components/HxSelect)-like component where every item should have a checkbox to be able to select multiple items.

(In fact, it is already being developed, the UX is prepared but the Blazor component itself is currently on hold waiting for some free cap

[2022-03-17 00:09] hakenr commented on #94
![image](https://user-images.githubusercontent.com/12828888/158711490-81ff48b6-5ceb-4992-ac05-522eb2d63b53.png)

...the name of the component is still open as the same component (or the one based on the same basis) should be able to work in single-select mode without the checkboxes (just as customizable replacement of the native `select` HTML element):

[2022-03-17 00:13] hakenr commented on #94
@robertmclaws Any suggestions on the name of the new component(s)?
These will probably have to be two separate components not to mix the IEnumerable (multi-value) vs. single-value API (`Value` parameter).

[2022-03-17 07:14] robertmclaws commented on #94
Thanks for asking me! I have a couple ideas, but to help with direction, I have a question: what is your thinking behind making this a new control vs upgrading the existing HxSelect control to support multiple selections?

[2022-03-17 08:00] hakenr commented on #94
Well, the `HxSelect` is meant to be just a plain native `select`-`option` implementation (with all the cons and pros) whereas the new component(s) should bring completely custom [Bootstrap dropdown](https://getbootstrap.com/docs/5.0/components/dropdowns/)-based implementation allowing more precise visual tweaks but without all the built-in features of native `select` (e.g. for now we do not aspire

[2022-03-17 15:43] robertmclaws commented on #94
`HxCheckboxSelect` or `HxMultiSelect` sounds like the best approach.

[2022-03-17 16:07] hakenr commented on #94
and for the single-value version of custom select? (not the native one currently implemented as `HxSelect`)
![image](https://user-images.githubusercontent.com/12828888/158843256-830576e2-f0af-4716-8171-7184325547ca.png)

[2022-03-18 14:04] HybridSolutions commented on #93
Well, game is over. No future on drag & drop features out of the box for Blazor.

[2022-03-21 15:35] HybridSolutions opened #95 "[HxCheckboxList] How to apply css class to checkbox container both in header and item rows?"
Hi,

I need to apply a custom css class to the container of the checkboxes so they get a custom style from a theme I'm using. How can I do that for both the checkbox in the header and for each on that is present in the rows?

This is what I had before using your grid component:

[code]

Also, how can I customize the icons used in the pager first, previous, next and last buttons? I miss options to

[2022-03-21 18:06] hakenr commented on #91
Closing as duplicate.

[2022-03-21 18:06] #91 closed

[2022-03-21 18:38] HybridSolutions opened #96 "[HxGrid] dropdown with the number of items per page and total records"
Table component works great but it's too closed for customization. I leave a couple suggestions:

1. Allow Custom Sorting icons by providing some options like SortIcon, SortIconAsc and SortIconDesc of type string for CSS classes.
2. Allow Custom Pager icons by providing some options like PagerFirstItemCssClass, PagerPreviousItemCssClass, PagerPreviousItemCssClass, PagerNextItemCssClass of type str

[2022-03-21 19:03] HybridSolutions commented on #95
Both these features are very important because not everyone uses BS icons and uses themes that already provide their icon implementation. Regarding the pager, I don't understand why you chose the path to inject it instead of allowing the optional usage of the Pager component inside a Footer template and then provide a way to wire it to the table with a couple parameters. I created another issue fo

[2022-03-22 12:55] HybridSolutions opened #97 "Please, remove hardcoded icons!"
I understand the beauty of hardcoded icons but in my humble opinion this is not a good approach for expansibility. Everytime an icon is added you have to recompile the entire Havit.Blazor solution for those icons to be generated from the json file. What if an icon changes or is removed one day? All projects updating to a newer version of Havit.Blazor will fail forcing changes to the code.

[code]

[2022-03-22 16:47] petrkasnal opened #98 "[HxFileInput] max size validation"
Hello, is any posibility to add validation for max size in FileInput?

Thank you

[2022-03-22 23:07] hakenr commented on #98
You can use the `MaxFileSize` parameter
https://havit.blazor.eu/components/HxInputFile#LimitFileSizeAndTypes
[code]

[2022-03-23 06:52] petrkasnal commented on #98
@hakenr thank you for response. I use this, but its not return me any validation. Do you have any example of this please? Thank you

[2022-03-23 10:47] hakenr commented on #98
The `HxInputFile` component does not interact with `<EditForm />` (`EditContext`) and is not intended to take part in the classic form-validation workflow.

Currently, trying to upload a file bigger than the `MaxFileSize` limit emits a warning to the console, does not upload such file and signals such file with `OnFileUploaded` callback where the status code is set to 413 with a explanatory respon

[2022-03-23 11:09] hakenr commented on #97
Our current design allows you/us to add any additional icons in your project or in the library.

1. Create a new component, let's say `MyFontAwesomeIconComponent`, which will be able to render your icons. Something similar to `HxBootstrapIcon`:
https://github.com/havit/Havit.Blazor/blob/72a3916c2863d10e91b1299baf19845643846839/Havit.Blazor.Components.Web.Bootstrap/Icons/HxBootstrapIcon.cs#L6-L34

[2022-03-23 11:10] hakenr commented on #97
TODO: New documentation topic - Creating a custom icon-set.

[2022-03-23 11:17] petrkasnal commented on #98
I understand, so the solution is to do the validation manually. Which I didn't want to do, but I understand that it can't be done any other way, because it's not a bind in the editform. Thank you very much :)

[2022-03-23 11:17] #98 closed

[2022-03-23 11:21] hakenr commented on #96
You can set your own icons using the  `Settings` parameter or project-wide with the `HxGrid.Defaults` property.
[code]
or somewhere in `Program.cs`
[code]

The intended approach for more specific customization is to disable/hide built-in paging in `HxGrid` and use a standalone `HxPager` or any other paging implementation instead (`HxGrid` exposes bindable `CurrentUserState` for this scenario). We

[2022-03-23 13:20] HybridSolutions commented on #97
Thanks for the detailed explanation but still don't like the hardcoded icon solution. Having to create a class and component to hardcode hundreds of CSS class names is not a good thing. Design in applications changes often and so does graphic elements and fonts. Having to map those kind of elements when it's so easy to just use "fa-some-icon", is an insane amount of work and you know it since you

[2022-03-23 13:26] HybridSolutions commented on #96
Can you please guide me on how to use the HxPager instead of the built in one using the CurrentUserSate? Really need that to proceed. If not an example, a simple step guide. Thank you!

[2022-03-23 16:38] HybridSolutions commented on #96
Hi,

meanwhile I tried the **_Settings_** parameter but it's not working at all.

`Settings = "new GridSettings() { SortAscendingIcon = MyFontIcon.sortAsc, SortDescendingIcon= MyFontIcon.sortDesc }"`

I also tried to set **_PageSize_** and use your own icons but only the page size worked:

[code]
The rendered html always shows the class `hx-icon bi-sort-alpha-down` or `hx-icon bi-sort-alpha-down-a

[2022-03-28 11:32] hakenr opened #99 "[HxTreeView] Item CSS class customization"
`ItemCssClassSelector`

Do we want also `ItemCssClass`?

[2022-03-28 12:21] #99 closed

[2022-03-28 23:59] hakenr commented on #97
Just added instructions and samples for creating custom icons to documentation:
https://havit.blazor.eu/components/HxIcon#custom-icons

In fact you don't have to create properties for all the individual icons if you don't want (something we use source generator for), you can create the instances inline:
[code]

[2022-03-29 00:00] #83 closed

[2022-03-30 12:51] #97 closed

[2022-03-30 16:13] hakenr opened #100 "[HxMultiSelect] NullDataText"
Text to display while the data are still being loaded (i.e. `null`).

cc @jirikanda, @crdo

(We have this in `HxSelect` and `HxMultiSelect` should align.)

[2022-03-30 16:15] hakenr opened #101 "[HxMultiSelect] InputSize (incl. Settings and Defaults)"
to align API with other inputs

cc @jirikanda; @crdo

[2022-03-30 16:16] hakenr commented on #100
+ align demo with HxSelect_Demo (async loading with Task.Delay)

[2022-03-31 10:39] TeaTime762 opened #102 "[HxGrid] When calling RefreshDataAsync() not UI thread, grid does not automatically rerender"
When I want to call RefreshDataAsync and I am not on UI thread I have to call `InvokeAsync`. That's pretty clear.
But unfortunately the grid does not update so as a workaround I call `InvokeAsync(StateHasChanged)` and it works.
Is this behaviour intended?

[2022-03-31 10:51] hakenr commented on #102
Well, it depends...
Can you provide us with a simple repro code? ...we might come to the conclusion that it makes sense to call `StateHasChanged()` from `RefreshDataAsync()` explicitly.

cc @jirikanda

[2022-03-31 15:56] robertmclaws opened #103 "[HxInput] Apply InputSize to inputs with input-group (Was: Allow Input controls to add styles to the InputGroup)"
Please add an `InputGroupCssClass` property to `HxInputBaseWithInputGroups` and leverage it where appropriate to let me implement [this feature of Bootstrap](https://getbootstrap.com/docs/5.1/forms/input-group/#sizing).

[2022-04-01 00:46] kimermed opened #104 "Demo sidebar is not scrollable"
In your demo, no scrollbar appears when the expanded item list extends past the current visible area. I haven't dug enough to see if this is particular to the demo or an issue with the component being used itself.

[2022-04-01 08:13] #104 closed

[2022-04-01 08:14] crdo commented on #104
I have released a fixed version of the docs. The issue was with the docs itself, not the component.

[2022-04-01 08:27] crdo commented on #103
This could be achievable with `InputGroupCssClass` or (my preferred solution) `InputGroupSize="InputGroupSize.Large"` that would be applied only if `InputGroupStartTemplate` or `InputGroupEndTemplate ` is present. @hakenr what do you think?

[2022-04-01 08:31] crdo commented on #94
@baneTN HxMultiSelect has been implemented, can be already seen in the docs at https://havit.blazor.eu/components/HxMultiSelect and will be part of the upcoming release.

[2022-04-01 13:43] robertmclaws commented on #103
So, using a string property instead an enum would also let you implement the "nowrap" feature just above the link I provided. I think that people are going to need to add classes to the input group, and just letting you manipulate the string covers more scenarios than having to implement specific enums for each feature on that Bootstrap documentation page.

[2022-04-01 14:30] crdo commented on #103
I think that we will end up with both. But as far as we set the Input and Buttons sizes with Enums, we should stick with it in this scenario as well. For the "nowrap" case the `InputGroupCssClass` si clear.

[2022-04-01 17:15] robertmclaws commented on #103
Makes sense! Thanks for making this happen :)

[2022-04-04 11:31] TeaTime762 commented on #102
Is this sufficient?

This method is called from the backend, whenever the UI has to update.
`
// this code works perfectly fine
private void AlarmController_AlarmsChanged(object sender, EventArgs e)
	{
		InvokeAsync(async () => await gridComponent.RefreshDataAsync());
	         InvokeAsync(StateHasChanged);
	}
	`

	But I read in your documentation that there is actually no need for calling StateHa

[2022-04-04 12:52] hakenr commented on #103
Will look into it. I think we should not add `InputGroupSize` but rather use `InputSize` and apply the requested size correctly to input-groups scenario.

[2022-04-04 13:21] hakenr opened #105 "[HxGrid] IsResponsive - adds "table-responsive" to table container div"
+ Defaults + Settings

[2022-04-04 13:43] hakenr opened #106 "[HxTreeView] ItemInitialExpandedSelector"
ability to set individual items as expanded (initial state)

[2022-04-05 09:13] #100 closed

[2022-04-05 09:14] #101 closed

[2022-04-05 09:22] jirikanda commented on #102
@TeaTime762 is right, the grid does not work well in this scenario. See Issue102Test.
It works well in the InfiniteScroll mode.

Internally, the RefreshDataAsync methods calls RefreshPaginationDataCoreAsync(renderOnSuccess: false) and because of the renderOnSuccess parameter value, StateHasChanged method is not called.

And we use false value with this explanation which is not valid here (not a ty

[2022-04-05 10:44] Apskaita5 opened #107 "[HxTabPanel] Exception on page refresh"
If you use async parameter setting in OnParametersSetAsync or OnInitializedAsync, e.g.

protected override async Task OnInitializedAsync()
    {
        try
        {
            await Task.Delay(100);
            forecasts = new List<WeatherForecast>();
        }
        catch (Exception ex)
        {
            MessengerService.AddError(ex.Message);
        }
    }

and have a HxTabPanel on the

[2022-04-05 11:45] hakenr commented on #107
@Apskaita5 Can you provide us with a complete exception call stack?

[2022-04-05 11:46] #94 closed

[2022-04-05 11:57] Apskaita5 commented on #107
An unhandled exception occurred while processing the request.
AggregateException: Exceptions were encountered while disposing components. (The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state.) (The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to

[2022-04-05 12:03] crdo opened #108 "[HxTabPanel] Allow to set other NavVariant than NavVariant.Tabs"
I would like to have possibility to choose any of possible [NavVariant](https://havit.blazor.eu/types/NavVariant) for [HxTabPanel](https://havit.blazor.eu/components/HxTabPanel) component.

Currently the only option is NavVariant.Tabs.

[2022-04-05 22:58] hakenr commented on #102
Fixed in v2.3.0

[2022-04-05 22:58] #102 closed

[2022-04-06 01:51] MrExpreess opened #109 "Right-to-Left Support"
Needed to add supporting for Right-to-Left direction...

[2022-04-06 05:36] TeaTime762 commented on #102
Awesome guys! Thank you very much!

[2022-04-06 07:41] hakenr commented on #109
RTL is fully supported, although not explicitly tested. RTL support is built into Bootstrap itself, and our library takes this over. We also work with "start" and "end" terminology instead of "left" and "right".
Do you have any specific place where we need to tweak?

(As of our "Havit.Blazor" Boostrap CSS build, just change the link to `.rtl.css` as usual.)

@crdo right?

[2022-04-06 07:55] hakenr commented on #107
Is seems the exception comes from the `HxGridColumnBase.Dispose()` method where there is `StateHasChanged()` callback and in server-prerendering mode, under some circumstances, the `Dispose` method is called out of `Dispatcher` thread.

@jirikanda Can you look into it? ...it is probably the `StateHasChanged` in component-registration we touched yesterday.

[2022-04-06 07:56] crdo commented on #109
Disagree - all "our styles" (everything that is in CSS isolation) are disconnected from the RTLCSS and POSTCSS (rtl, vendor-prefixing etc.).

We would have to somehow manipulate the CSS isolation bundle after it is generated by .NET and have our own post-processing with RTLCSS and POSTCSS.

[2022-04-06 09:09] jirikanda commented on #107
Hi guys,

I read the callstack the same way:
* the failure happened during prerendering the content
* the `Dispose` method is called out of `Dispatcher` thread.

@hakenr It could be connected with ConfigureAwait we also discussed yesterday.

Unfortunatelly, I am not able to reproduce the issue. Reproducing the issue is necessary to verify the fix. @Apskaita5, could you provide more information, pl

[2022-04-06 10:29] hakenr commented on #109
Aah, I see. 😭
We might start with some simple sample page/app, where we will identify the major gaps.

[2022-04-06 14:03] #106 closed

[2022-04-07 23:32] stayboy opened #110 "[HxModal] and [HxOffcanvas] disable main scrolling on remove/close"
For scrolling pages, HxModal and HxOffCanvax on pop, set body style to overflow = hidden. And does not remove style on either component HideAsync action

[2022-04-08 06:58] hakenr commented on #110
@crdo Can you take a look at this, please?

[2022-04-08 07:57] crdo commented on #110
@stayboy I am not able to reproduce the described behaviour. The [documentation page](https://havit.blazor.eu/components/HxOffcanvas) is scrollable and the overflow: hidden; on the body element is removed as soon as the dialog is closed.
May I please ask you to provide some minimal repository reproducing your issue?

[2022-04-08 09:04] stayboy commented on #110
Try the backdrop sample here
![image](https://user-images.githubusercontent.com/10756019/162403302-7468f7ca-87c3-4c55-89f2-7fd57a388cb2.png)

[2022-04-08 11:20] crdo commented on #110
Tried, working as expected...

[2022-04-08 11:30] stayboy commented on #110
I saw the problem. When you hit to show the Canvax, rather than close, hit any the source Tab from the picture I sent, and the scrolls will are off forever. My guess is, when HxOffCanvax is not closed and State changes someway or the other that forces HxOffCanvax to hide by itself, You are locked out of ever seeing your scroll bar. Just try it.

![image](https://user-images.githubusercontent.com/1

[2022-04-08 15:39] hgirma opened #111 "Input masks"
Would be nice to support input masks for telephone number etc

[2022-04-08 15:51] hakenr commented on #111
Thank you for your suggestion. Parking the request in backlog for future implementation. Will prioritize if this ticket gets more attention from the users.

[2022-04-09 15:47] hakenr opened #112 "[HxGrid] EmptyDataTemplate should replace default empty-data-content"
Currently both the default content AND `EmptyDataTemplate` are rendered (which is unique across other components where the template always replaces default content is such scenarios):
![image](https://user-images.githubusercontent.com/12828888/162581197-7eab97e2-10d0-438f-90b5-b5d8f2cd12e4.png)

1. We might consider a parameter which would allow keeping the original empty-data-content, if it turns

[2022-04-11 08:07] hakenr commented on #112
![image](https://user-images.githubusercontent.com/12828888/162692553-7260d0a2-3bd7-4ccd-b851-03ef9330bc6f.png)
![image](https://user-images.githubusercontent.com/12828888/162692595-1df6dfec-a0fe-4cd9-90b9-22480b37c3e1.png)

[2022-04-11 08:28] #112 closed

[2022-04-12 07:56] crdo opened #113 "[HxDropdownToggleElement] Should not render the caret"

[2022-04-12 08:14] crdo commented on #110
OK, I get it.

1. Open the Offcanvas w/o backdrop
2. Click the Source tab
3. The content of the Demo tab is removed from the DOM and the css inlined to the body element is not cleaned up

I guess this is not a real world scenario, but we can have a look into it. Cc @hakenr

[2022-04-12 11:10] crdo commented on #110
You simply cannot remove the whole Offcanvas/Modal component from the DOM while it is open and scrolling is disabled. If you do it, overflow: hidden remains set on the body and you cannot scroll.

This is a wrong application design rather than issue of Havit.Blazor. If you do the same with Bootstrap only, you will get exactly the same result.

If you still believe that it is somehow related to cha

[2022-04-12 11:42] stayboy opened #114 "Date Formatting on HxInputDate - MMM-dd-yyyy"
![image](https://user-images.githubusercontent.com/10756019/162952260-96d06db1-2296-47c1-b2b4-64cd27cef36d.png)

Date Display Formatting on Input with UTC Cultures

[2022-04-12 12:05] #108 closed

[2022-04-12 12:15] hakenr commented on #114
@jirikanda, what do you think?

(Reminder to myself: There exist `@bind-Value:format="dd-MMM-yyyy"` and `@bind-Value:culture="en-US"` modifiers.)

Related links:
https://github.com/dotnet/aspnetcore/issues/15400

[2022-04-12 13:51] TeaTime762 opened #115 "Set range programmaticly of input forms"
Hey all,

when using validation you show on your example that one has to use the range attribut (https://havit.blazor.eu/components/Inputs)
But what if I want so set the range during runtime? As far as I know I can not set the value of an attribute at runtime.
I want to assign the max value for example through a parameter of a component.

I know the range attribut is from asp .net core but is ther

[2022-04-13 05:36] TeaTime762 commented on #115
Thank you so much for all the explaining and samples.

Do I understand that right that you will think about to add something like this in your library as you moved it to discussion?

[2022-04-13 08:02] hakenr commented on #115
We currently use "Discussion" milestone as a marker for supportive discussions with the users without expected impact on the library itself.

[2022-04-13 08:34] #115 closed

[2022-04-14 08:37] stayboy opened #116 "HxSelect Null Detection For Empty String, Zero or non-existing value"
![image](https://user-images.githubusercontent.com/10756019/163347126-9eec0fec-bbaf-419c-bcbe-de44c9ab8530.png)

HxSelect giving out errors when binding value is zero, null or empty string or non-existing value. Error must either be mute or component must by default default to Nullable for Zero(0) and Empty String Values

[2022-04-14 13:11] Harvey1214 commented on #113
https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/10399ad21fcbaf1ee06f83d8c21dcfe9314896c4

[2022-04-14 13:11] #113 closed

[2022-04-14 13:44] #105 closed

[2022-04-15 23:17] hakenr opened #117 "[HxDropdown] vs. .btn-group => [HxDropdownButtonGroup] component?"
Current implementation of `HxDropdown` emits `.btn-group` CSS class except a few cases (e.g. inside `HxNavbar`).

This was a good decision as far as the dominant scenario was creating buttons with dropdown menus.

This turned out to be an issue for scenarios with custom `HxDropdownToggleElement` where much more complex component is to be assembled (such as `HxSearchBox`). The `btn-group` class is

[2022-04-19 08:51] Harvey1214 commented on #74
https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/7545ed9a8f712398058142af160e724e97a0c0b3

[2022-04-19 08:51] #74 closed

[2022-04-19 12:18] Harvey1214 commented on #31
https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/07d78738663befa82d28b94c0e7dd4d63caca3ca

[2022-04-19 12:18] #31 closed

[2022-04-19 12:54] Apskaita5 commented on #107
I was unable to reproduce the issue when writing from scratch too :)
I guess I created some very exotic mix in my test project (attached).
[HavitBlazorTest.zip](https://github.com/havit/Havit.Blazor/files/8513124/HavitBlazorTest.zip)

[2022-04-19 13:02] Apskaita5 opened #118 "[HxGrid] Context menu causes scrollbar"
When there are few rows in the grid and a relatively large context menu, when showing context menu it doesn't fit the table area which forces a scrollbar to appear (part of context menu hidden).

[2022-04-19 13:07] Apskaita5 opened #119 "[HxTabPanel] breaks input spacing"
When using HxTabPanel to group inputs for a form, input spacing is broken (no spaces between inputs). Quick and dirty solution is to add `<br />` after each input. But it would be nice not doing that.

[2022-04-19 13:15] Apskaita5 opened #120 "[HxAutosuggest] Tweaks to be able to use it as searchable select"
Could you add a searchable select component to your collection (e.g. https://github.com/Blazored/Typeahead)?
It's the only missing component for CRM apps (e.g. for selecting a client in a form).

[2022-04-19 14:35] hakenr commented on #120
Hello @Apskaita5,
please take a look at **HxAutosuggest** (https://havit.blazor.eu/components/HxAutosuggest). It is designed to cover those scenarios.
Can you please add more information on what specific features are you missing?

[2022-04-19 14:38] hakenr commented on #119
@crdo, can you please take a look and asses this issue?

[2022-04-19 14:39] hakenr commented on #118
@crdo, can you please take a look and asses this issue? Thanx.

[2022-04-19 19:54] crdo commented on #119
@Apskaita5 the default spacing of the inputs depends on the structure of your form and only works if the inputs are direct descendants of the form.
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/1410922/164083984-b1d60ae5-af2d-4540-b1ab-285a2c21dedc.png">
If there is a more complex structure of your forms you have to add your own styles or use Bootstrap utility classe

[2022-04-19 19:59] crdo commented on #118
@Apskaita5 @hakenr yes, I have came across this issue already. @Harvey1214 please create a reproducing page for this issue in our BlazorTestApp so I can try to come up with some solution.

[2022-04-20 06:52] Harvey1214 commented on #118
@crdo the reproducing page is completed (https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/6ade98d68b9ffa9a1447636901ebc2d0f26fdf00).

[2022-04-20 10:27] Apskaita5 commented on #119
I meant the case when a form wraps a HxTabPanel, not vice versa. As I understand in this case it's impossible to avoid loosing form style?
I solved it by wrapping tab content in div and using css class:
.formpart {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
Would it be possible to allow setting css class for HxTab (content)? It would allow to skip div.

[2022-04-20 10:30] Apskaita5 commented on #120
Blazored/Typeahead component allows for both selecting from a list and search. HxAutosuggest only allows search, not selection from a list. HxSelect allows selection from a list, not search.

[2022-04-20 13:56] Harvey1214 commented on #82
https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/0cd70f9204b8726b3d317033bcb6d304fed7a8bd

[2022-04-20 15:13] hakenr commented on #120
If you set `MinimumLength="0"` and `Delay="1"` (this is something we want to change to allow `0`) you should get a selection from list (see similar demo for HxInputTags https://havit.blazor.eu/components/HxInputTags#StaticSuggestions).

Is that what you need?

[2022-04-20 16:20] jirikanda commented on #107
@Apskaita5, thank you very much for your reprosteps.

I analyzed the attached code and successfully reproduced the issue.
It is quite tricky while to reproduce the issue:

1. There must be EditForm, Model must change value between renders (it is the most strange part of the reprosteps (`@(forecasts ?? new List<WeatherForecast>())` in your code)).
2. There must be HxGrid with HxGridColumn.
3. There

[2022-04-21 07:43] Apskaita5 commented on #120
That would be great except for two details:
- the dropdown doesn't have it's own scrollbar, which is a problem for long lists (just try it with your example, it has item collection big enough to demonstrate graphical result);
- the dropdown does not appear on focus when a value is already selected, which could be misleading for an end user.

;)

[2022-04-21 10:19] hakenr commented on #120
@Apskaita5 Got it.
There are some additional tweaks needed to be able to use `HxAutosuggest` as searchable select.
This is valid usage scenario and we will make the adjustments needed.
If you find any additional issues, please let us know.

cc @crdo @jirikanda

[2022-04-21 11:55] hakenr commented on #116
@jirikanda Can you please take a look at this issue?

[2022-04-21 16:25] erikporter opened #121 "[HxInput*] - Some Components Not Rendering Additional Attributes"
I'm trying to add an `id` attribute to a `HxInputDate` (though appears all inputs do this) to line it up with the `for` on a `label` (that's dynamically rendered), but the component ignores any additional attributes and doesn't render them. The built in Input* components in Blazor do this, but Havit components don't. Is my assumption correct that this should work or is this a bug? I'm using versio

[2022-04-22 11:51] hakenr commented on #82
to be reviewed

[2022-04-25 05:37] jirikanda commented on #116
Reprosteps are super simple:
[code]

The `Data does not contain item for current value` exception is thrown when the `value` is not found in the `data` and the `value` is not `null` (never for `Int32`).

@hakenr Should we change the code and consider not only `null` but also `default` as "null/empty" value?

[2022-04-25 06:48] jirikanda commented on #107
Fixed.

[2022-04-25 07:38] crdo commented on #119
Sure, I am closing this div and please create a separate issue for the HxTab(Content) CSS class.

[2022-04-25 07:38] #119 closed

[2022-04-25 09:00] TeaTime762 opened #122 "[HxInputNumber] Feature request: Support more datatypes for validation"
I would really appreciate it if you consider to implement more datatypes for validation. At the moment I think there are only double and int.
For example I am looking forward to validation for signed and unsigned int to validate the sign.
Another example would be int16 to validate the size of an int16.

[2022-04-25 09:01] TeaTime762 opened #123 "[HxInputNumber] Remove exception when Decimals are specified on integer"
I would suggest to remove the exception when you specify the deicmals parameter on HxInputNumber and instead set internally the decimals to zero when int is specify in the TValue parameter.
As a result it allows me to write components that are more reusable as I can use one component for both int and double inputs.

[2022-04-25 10:07] hakenr commented on #105
Renamed `IsResponsive` parameter to `Responsive` to align with Bootstrap+library naming conventions.

[2022-04-25 10:13] crdo commented on #118
Anyway, what causes your issue most likely is the presence of `overflow: auto | hidden;` on some of the parent elements.
In this case you have two options:

1. Get rid of the overflow
2. Tweak the Popper config so the Dropdown (that is used internally for the HxContextMenu) behaves as close as desired https://popper.js.org/docs/v2/modifiers/prevent-overflow/

@hakenr can we set our own Popper conf

[2022-04-25 10:35] Apskaita5 commented on #118
Yep. (CSS table-responsive)

[2022-04-25 10:38] Apskaita5 commented on #118
Only if it is present on Havit components.

[2022-04-25 10:38] crdo commented on #118
Related discussion in Bootstrap repo https://github.com/twbs/bootstrap/issues/33463#issuecomment-822253936

[2022-04-25 10:42] Apskaita5 opened #124 "[HxTab] Feature request: allow CssClass"
Please allow using CssClass on HxTab like on other components.

[2022-04-25 11:55] hakenr commented on #121
Confirmed for `HxInputDate` and  `HxInputDateRange`. To be reviewed for all HxInputXy components (especially those forwarding the rendering to internal components - HxAutosuggest, HxInputTags, etc.).

[2022-04-25 11:59] hakenr commented on #124
We will probably have to go for `TitleCssClass` (or `TitleNavLinkCssClass`? or `TitleNavLinkSettings`?) and `ContentCssClass`.

[2022-04-25 12:00] crdo commented on #118
I think that this issue has been already merged into one of the previous versions.

[2022-04-26 09:04] crdo opened #125 "[HxListLayout] Multiple DataTemplate sections + Tabs navigation"

[2022-04-26 09:12] hakenr commented on #125
Same filter for all sections?

[2022-04-26 09:39] crdo commented on #125
Each tab should have separate logic for searching and filtering, CommandsTemplate/DetailTemplate, etc...

[2022-04-27 13:51] crdo commented on #125
@hakenr Adding screenshot with desired outcome.
<img width="910" alt="image" src="https://user-images.githubusercontent.com/1410922/165534101-b04c32d7-48cd-4390-b043-77a793c5de02.png">

[2022-04-27 13:54] crdo commented on #125
@hakenr so you might be right - if I give the HxListLayout CssClass border-0, it makes it "naked" and I could just wrap it with another card with tabs navigation.

[2022-04-27 14:15] Harvey1214 commented on #68
https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/e1b475fa60c16a3bf2e8c9eb09b90307d856ceea

[2022-04-28 08:40] stayboy opened #126 "[HxModal] dispose/hide issues"
![image](https://user-images.githubusercontent.com/10756019/165713174-71a444d4-4967-4580-b1c6-a13c85e3239a.png)

Kindly check your queue mechanism in close HxModal. It seems to get fired at the wrong time. Dispose is called on the Modal Instance and another call is made after to cleanUp when the this._element had already been disposed

[2022-04-29 09:43] vinod-vetrivel opened #127 "[HxSideBar] Collapse doesn't hide brand name"
When the sidebar is collapsed, the brand name overflows.

Screen grab from the demo site:
![image](https://user-images.githubusercontent.com/64571006/165920120-44063387-ff1f-43e9-8f2f-d7f03c80da59.png)

[2022-04-29 10:47] crdo commented on #127
Hi @vinod-vetrivel [vinod-vetrivel](https://github.com/vinod-vetrivel), fix for this issue has been done already and will be part of the forthcoming release.

[2022-04-29 11:10] crdo commented on #125
@Harvey1214 pleas add a demo for this layout to the docs. Thanks.

[2022-04-29 15:51] Harvey1214 commented on #125
@crdo sure thing - https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor/commit/e934340c3c8425d36bdf31792a93b04566ffd5ca

[2022-05-01 22:16] hakenr commented on #68
@Harvey1214 Implementation should be aligned with current input-groups implementation:
* missing `InputGroupCssClass` parameter
* the wrapping HTML element for `input-group` class should be `span` (or is there any reason for not being?)

[2022-05-02 13:13] #46 closed

[2022-05-02 13:14] #107 closed

[2022-05-02 15:45] #68 closed

[2022-05-03 10:02] crdo opened #129 "To add all inputs supporting floating labels to test page BlazorAppTest/InputsWithFloatingLabelsTest"
@Harvey1214 please add all types of inputs that currently support FloatingLabels to the test page.

[2022-05-03 11:35] jirikanda opened #130 "HxCalendar - caching CalendarDateCustomizationResult makes some problems"
a) does not work when DisplayMonthChangedAsync returns uncompleted Task (ParametersAsync is running twice)
b) does not allow to update "colors" on the same calendar instance when some external event happens

@vesnicancz

[2022-05-03 15:17] jirikanda commented on #130
Fix will be available in the upcoming release.

@vesnicancz

[2022-05-03 15:17] #130 closed

[2022-05-04 11:57] crdo opened #133 "[HxSelect] To add support for floating labels"
HxSelect should support floating labels https://getbootstrap.com/docs/5.1/forms/floating-labels/

[2022-05-05 21:07] sebastianbk commented on #93
Praying that @hakenr and his amazing team will save us all.

[2022-05-06 13:05] Harvey1214 commented on #129
@crdo The page has been updated.

HxInputTags - the label is not being rendered
HxInputPercent - with default settings throws an exception regarding the use of input groups

[2022-05-06 13:05] #129 closed

[2022-05-06 19:08] HybridSolutions commented on #93
Really hope so! 🙏

[2022-05-08 22:01] hakenr commented on #121
@erikporter Not sure this fix will solve your scenario, but it will be part of next release (you can already try with 2.5.0-pre4).

[2022-05-08 22:01] #121 closed

[2022-05-08 22:06] #82 closed

[2022-05-08 22:29] hakenr commented on #127
Can be tested in 2.5.0-pre4 release.

[2022-05-08 22:29] #127 closed

[2022-05-08 22:48] hakenr commented on #126
Reproduced (put `<a href="">test</a>` into the body and the issue appears).

[2022-05-08 22:48] #126 closed

[2022-05-08 22:54] hakenr commented on #123
@TeaTime762 Our motivation was to provide the users as much guidance as possible in such invalid combination.
Can you please provide us with some sample code where it would be helpful not to throw the exception and change the explicitly set value quietly instead?

cc @jirikanda

[2022-05-08 23:20] hakenr commented on #122
cc @jirikanda

[2022-05-08 23:26] hakenr commented on #116
For now, we decided to stick with the `null` logic as the only special case when `Nullable` is set to true (and where we render `NullText`). (We also used to use this logic for out former ASP.NET WebForms components for years without any frustration.)
All the other cases (`0`, `String.Empty` or just `default(T)`) should be easy to map to this logic.

We might get back and review the decision if th

[2022-05-08 23:26] #116 closed

[2022-05-08 23:31] hakenr commented on #103
Current state: `InputGroupCssClass` is already there (comes from `IFormValueComponentWithInputGroups`) and should be rendered whenever set. Now we have to adjust the `InputSize` usage to set correct input-group-size when set.

[2022-05-09 02:34] rqx110 opened #140 "InputFileDropZone is not work in FireFox"
as title

[2022-05-09 09:01] TeaTime762 commented on #123
Ok I show you a code sample want I want to achieve but what is actually not possible with you library. It goes along with my issue #122.

I am writing a component that allows a input and writes it to a specific node in a server.
The server needs to know which datatype the user wants to send which goes along with validation.

[code]

First problem is, when I specify int as TValue it throws always e

[2022-05-09 20:55] crdo opened #141 "[HxDropdownToggleButton, HxDropdownMenu] Usage w/o HxDropdown wrapper causes NullReferenceException"
If you use `HxDropdownToggleButton` and `HxDropdownMenu` without its container `HxDropdown` eg. in `InputGroupTemplate`, NullReferenceException is thrown on toggle as the `HxDropdown` instance does not exist.

[2022-05-09 21:50] #141 closed

[2022-05-09 21:52] hakenr commented on #140
@Harvey1214 Can you please confirm and provide more details on the issue?

[2022-05-09 22:31] hakenr commented on #123
I think your code probably won't for other additional reasons. You should either inherit your component directly from HxInputNumber (and add the InputChanged logic to `override InvokeValueChanged` method) or create a generic wrapper where the `Type` won't be a parameter but rather a generic type parameter `@typeparam` the `Decimals` parameter (or other appropriate lifecycle method such as `OnParam

[2022-05-09 22:35] #123 closed

[2022-05-09 22:48] hakenr opened #142 "[HxSidebarBrand] default hyperlink should be relative to allow placing Blazor app in sub-path"
currently, there is a hardcode `href="/"`
* we should make this configurable
* the default link should be relative, e.g. `href="./"`

[2022-05-09 23:02] #142 closed

[2022-05-10 00:49] rqx110 commented on #140
I am using Firefox v100.0 on windows 10 x64, see below GIF image, after drop a file it has nothing in the dropzone but open a new tab.
![ff1](https://user-images.githubusercontent.com/1829209/167520963-35e6450c-08d3-412e-81c5-9b8b5a3a9f75.gif)

[2022-05-10 07:38] hakenr commented on #6
"Duplicates" #28

[2022-05-10 07:40] hakenr commented on #78
@Harvey1214 wanna give a try? (consult the intended approach with @crdo)

[2022-05-10 08:08] hakenr commented on #110
We are calling `offcanvas.dispose()` and we believe the dispose should do the cleanup. Will try to create a simple repro for Bootstrap and report to them. (@Harvey1214)

[2022-05-10 08:24] hakenr commented on #118
Already reported to Bootstrap: https://github.com/twbs/bootstrap/issues/35774

[2022-05-10 08:45] TeaTime762 commented on #123
Thank you very much for your detailed explanation and tips!

[2022-05-10 08:52] TeaTime762 opened #143 "[Question] Is there a parameter that is equivalent to the ref parameter from blazor?"
Hello,

is there a parameter where I can assign the the ref parameter?

`    <HxButton @ref="button" Text="@ButtonText" Size="ButtonSize.Regular" Color="ThemeColor.Primary" OnClick="async () => await CallMethod()"  CssClass=@Style @onfocusout="LostFocus"/>`

When assigning it to @ref, the compiler tells me following error:

Cannot implicitly convert type 'Havit.Blazor.Components.Web.Bootstrap.HxBu

[2022-05-10 08:53] hakenr commented on #143
The `button` field in your class has to be `HxButton` type (I guess it is `ElementReference` in your code now).

[2022-05-10 08:58] TeaTime762 commented on #143
yeah, you are right, thank you.
But then I can access the methods I had in ElementReferenceExtensions, for example
`        //
        // Summary:
        //     Gives focus to an element given its Microsoft.AspNetCore.Components.ElementReference.
        //
        // Parameters:
        //   elementReference:
        //     A reference to the element to focus.
        //
        // Returns:

[2022-05-10 10:23] hakenr commented on #143
`HxButton` currently does not publish the ElementReference to the underlying `<button />` element, nor has an own `FocusAsync()` method.
In current state (subject to change), you can derive you own button component by inheriting from `HxButton` and that gives you access to a protected field called `buttonElementReference` where you can apply you `FocusAsync()` extension method, e.g.
[code]

Please

[2022-05-10 10:32] hakenr commented on #140
Strange. Do the "other" drag&drop file upload implementations work in your browser?
I found many posts related to Firefox/Mozilla issues with drag&drop uploads, e.g.
* https://www.google.com/search?q=upload+file+drag+drop+firefox&oq=upload+file+drag+drop+firefox - Google Search
* https://stackoverflow.com/questions/54474158/drag-and-drop-upload-not-working-in-mozilla
* https://stackoverflow.com/qu

[2022-05-10 10:39] TeaTime762 commented on #143
Oh ok cool.
What a pity that it may be disappear.
Do you plan a substitute property/ field or do you plan not to expose buttonElementReference at all and neither any substitue methods in HxButton?

[2022-05-10 10:46] hakenr commented on #143
No plans.
The field was introduced when we realized we need the ElementReference in our own derived component - the `HxDropdownToggleButton`. It probably should have been marked as `private protected`, but it was not. We probably won't remove it any soon, but as it does not satisfy design guidelines for public-API, we don't promise it won't change any later. The change will probably still have to

[2022-05-10 10:48] vinod-vetrivel commented on #127
Thank You

[2022-05-10 10:48] TeaTime762 commented on #143
Sounds good, thanks!

[2022-05-10 10:48] #143 closed

[2022-05-10 15:03] Apskaita5 opened #144 "[HxInputFile] Feature proposal: binding to stream"
I use UI binding to my domain objects. Some of them include relatively complex structures with Stream properties for various business entity specific file uploads. To avoid manual binding with HxInputFile I have created
1. a lightweight Stream descendant that wraps IBrowserFile making it available for binding to Stream properties (attached).
2. a HxInputFile wrapper component that adds standard da

[2022-05-10 17:32] Harvey1214 commented on #78
@hakenr ofc

[2022-05-11 01:43] rqx110 commented on #140
Found it is because my localize(zh-CN) Firefox version which download from https://www.firefox.com.cn/, which will install some extesions as default, and one of extesion cause this issue.
so close this issue.
thanks of your great componet!

[2022-05-11 01:43] #140 closed

[2022-05-12 08:23] crdo opened #147 "[HxSearchBox] To add SubItemCssClass"
We need SubItemCssClass for some additional styling at G3.
Please add it to the component API.

[2022-05-12 12:03] crdo commented on #117
@hakenr Sounds too complicated to me. You only need the `.btn-group` class if the `Split` parameter is `true`. The regular button does not need it at all. Or am I missing something?

[2022-05-12 18:48] hakenr commented on #147
@crdo What is the scenario?
@Harvey1214 If really necessary, it should be rather `ChildItemCssClass`.

[2022-05-13 06:44] crdo commented on #147
@hakenr I need to fine tune the appearance of the second line of the suggested item
<img width="491" alt="image" src="https://user-images.githubusercontent.com/1410922/168226396-91f7ab9f-97d8-49e3-81a1-665bdc19a55c.png">

[2022-05-13 08:05] hakenr commented on #147
@crdo Oops, I mistook it for `HxTreeView`, so the name should be `SubtitleCssClass`.

...I think we should clean-up the default implementation, which is now (lines 12-13 hardcoded etc.)
https://github.com/havit/Havit.Blazor/blob/6a78a91c2a27219525d73a38530fb77ddeb99d62/Havit.Blazor.Components.Web.Bootstrap/Forms/SearchBox/Internal/HxSearchBoxItem.razor#L3-L20

[2022-05-13 11:33] hakenr commented on #147
@crdo BTW the screenshot shows current weirdness - if you set Subtitle, the Title becomes `strong`. If the Subtitle is not set, it stays regular. 🤷‍♂️

[2022-05-13 13:22] Apskaita5 opened #148 "[HxModal] JS Exception: Cannot read properties of null (reading 'style') when navigating to another page while hiding"
I've deployed my app for "test production" (real work, small scale). In logs I see exceptions, somehow related to disposing of components (ObjectDisposedException and TaskCanceledException). Users reported that sometimes browser (Edge, Chrome) wouldn't display a scrollbar for a long/large forms which is fixed by reloading page. Not sure if it is related to the exceptions in logs, asked users to re

[2022-05-13 16:02] #133 closed

[2022-05-13 22:02] TheAnachronism opened #152 "Why is there a hidden text shown for a HxSpinner or a spinner button?"
I've played around with the CSS styling of my project a bit and found out that the spinner component shows some hidden text if you activate it.
https://github.com/havit/Havit.Blazor/blob/d4c89c6e1a8b0b54205d3d00ce05591642117406/Havit.Blazor.Components.Web.Bootstrap/Progress/HxSpinner.razor

I'm just wondering why is this necessary as if you have some weird screen resolution, a scroll bar sometimes

[2022-05-16 10:21] hakenr commented on #152
Hi @TheAnachronism,
this was taken over from Bootstrap: https://getbootstrap.com/docs/5.1/components/spinners/:

[2022-05-16 11:36] TheAnachronism commented on #152
Ah, OK, fair enough.
Thanks for the answer^^

[2022-05-16 11:36] #152 closed

[2022-05-17 06:39] hakenr opened #154 "[HxMultiSelect] Hover cursor shape should be default instead of text"
![image](https://user-images.githubusercontent.com/12828888/168745343-56d0b26a-2c22-42d3-afb8-21bb0654ad1f.png)
(wrong proportions in image)

[2022-05-17 09:33] Apskaita5 commented on #148
Update regarding problem "Users reported that sometimes browser (Edge, Chrome) wouldn't display a scrollbar for a long/large forms which is fixed by reloading page."
It's not related to any exceptions in logs. Nothing in developer console as well. Attaching debug
[blazor_test.log](https://github.com/havit/Havit.Blazor/files/8707073/blazor_test.log)
log file excerpt for the timeframe of this proble

[2022-05-17 12:02] Harvey1214 commented on #147
[https://github.com/havit/Havit.Blazor/commit/b80189cf91517720b920010a9e2a356250bfdad9](url)

[2022-05-17 12:02] #147 closed

[2022-05-17 12:48] Harvey1214 commented on #154
PR #155

[2022-05-17 12:48] #154 closed

[2022-05-18 14:43] hakenr commented on #148
@Apskaita5 you are probably hitting the issue we fixed few days ago in our latest release. Please update to the very last version of our component library (https://github.com/havit/Havit.Blazor/releases/tag/v2.5.1)
Related change: https://github.com/havit/Havit.Blazor/commit/897b36f303d8c7d742025eeb497f6824747ae70a and I guess you are hitting the issue

[2022-05-18 16:15] hakenr commented on #78
Current implementation instructions from @crdo:
1. remove `aria-expanded="false"` in `HxSidebarItem#39` if the item is active https://github.com/havit/Havit.Blazor/blob/da0c36698ff63aa2e0a3ce4215fd270916c595f9/Havit.Blazor.Components.Web.Bootstrap/Navigation/HxSidebarItem.razor#L32-L39
2. remove `collapsed` class in HxSidebarItem#64 if the item is active
https://github.com/havit/Havit.Blazor/blob/

[2022-05-18 18:27] crdo commented on #78
@hakenr sorry, 2. should be to add class `show` instead of removing `collapse`.

[2022-05-19 07:47] hakenr opened #156 "[HxSidebarItem] Weird `no-icon` class when Icon is not null"
@crdo When implementing #78 I found this weird line of code:
https://github.com/havit/Havit.Blazor/blob/0af8b66406b2bdaf12311649d8cd3d3fea9a04eb/Havit.Blazor.Components.Web.Bootstrap/Navigation/HxSidebarItem.razor#L45
It renders `no-icon` class when there actually is the Icon set.
It was introduced when @Harvey1214 was extracting all hardcoded utility classes to CSS isolation.
![image](https://use

[2022-05-19 07:48] hakenr commented on #156
Is `bi-chevron-right` custom as well?

[2022-05-19 08:27] crdo commented on #156
Yes, this clearly needs some review and polishing. I'll do that.

[2022-05-19 08:56] crdo commented on #156
Done.

[2022-05-19 09:32] Apskaita5 commented on #148
Updated to v2.5.1.
ObjectDisposedException is gone.
TaskCanceledException still present in logs, though doesn't seem to be affecting anything.
JS exception is still present. If you navigate to another page immediately after a modal is closed (in my case I use modal for 2FA token dialog in login page) you get JS exception:
Uncaught TypeError: Cannot read properties of null (reading 'style')
at Hi._

[2022-05-19 10:03] crdo commented on #156
Note to my future myself: I have changed the layout of `HxSidebarItem` to horizontal stack so we can get rid of separate spacing for version with and without an icon.

[2022-05-19 13:34] hakenr opened #158 "[HxGridColumnBase] Asynchronnous method called from synchronnous Dispose?"
`Task ColumnsRegistration.Unregister(this);` is asynchronnous.
It is currently called from synchronnous `Dispose()` method in `HxGridColumnsBase`

@jirikanda , should we rather go for `IAsyncDisposable`?

[2022-05-19 14:42] #156 closed

[2022-05-19 15:03] Harvey1214 commented on #110
Refer to https://github.com/twbs/bootstrap/issues/36397

[2022-05-19 15:32] hakenr commented on #148
`TaskCanceledException` is "as designed" (this exception indicates successful cancellation instead of a faulty situation) - see https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-cancellation

I was able to reproduce the JS exception with
[code]
...it seems that the Modal does not handle removing from DOM when hiding is in progress. This is probably a Bootstrap issue.
@crdo

[2022-05-20 07:09] jirikanda commented on #158
Ups. It brings back the issue #107. Trying fix with try/catch & NOOP in the CollectionRegistration class.

[2022-05-20 07:12] #158 closed

[2022-05-20 07:54] #124 closed

[2022-05-20 08:41] hakenr commented on #5
mostly consolidated

[2022-05-20 08:41] #5 closed

[2022-05-20 10:24] hakenr opened #164 "[HxGrid] Poor performance when displaying many items (InfiniteScroll) + Offcanvas opens/hides"
MensaIntranetGen3/MensaForum - (StudentSubjectRegistrationsGrid)
creating issue for tracking progress

Hypothesis 1 - UpdateContentRenderer (and his DetachIfPossible logic)

[2022-05-20 10:27] #164 closed

[2022-05-20 11:58] crdo opened #166 "[HxInputTags] Missing Label if LabelType="LabelType.Floating""
[HxInputTags] Missing Label if LabelType="LabelType.Floating"

[2022-05-20 19:03] hakenr opened #167 "[doc] ComponentApiDoc - HxGrid - missing link to GridDataProviderDelegate"
![image](https://user-images.githubusercontent.com/12828888/169595099-e524d4f0-91af-45b5-af17-c074e4623c5e.png)

[2022-05-21 22:11] skruis opened #168 "Clicking an HxDropdownItemNavLink with an href does not trigger navigation"
Hello! Using Edge to run Blazor WASM .NET 6 with version 2.5.1. I'm a new user of these components. I expected that populating the href and then clicking the item would be enough to trigger navigation. It's possible that I'm missing something. Here's my markup:

[code]

The Logout 2 link using the OnClick is working. Is there something I'm missing with regards to the href?

Thanks!

-Sean

[2022-05-21 23:43] hakenr commented on #167
same for HxAutosuggest, HxInputTags and other components with DataProviders

[2022-05-21 23:45] hakenr opened #169 "[doc] ComponentApiDoc - non-primitive Nullable types not converted to `?`-form"
e.g. `Nullable<ValueTuple<int, int>>` in HxDropdown.DropdownOffset

[2022-05-22 23:30] hakenr commented on #169
fixed with #170

[2022-05-22 23:30] #169 closed

[2022-05-23 07:49] jirikanda commented on #122
Supported types: byte (Byte), sbyte (SByte), short (Int16), ushort(UInt16), int (Int32), uint(UInt32), long (Int64), ulong(UInt64), float (Single), double (Double) and decimal (Decimal).

[2022-05-23 13:45] hakenr opened #172 "[doc] HxGoogleTagManager - add DocAlert that it is in separate NuGet package"

[2022-05-23 15:21] hakenr opened #173 "[doc] Consolidate Search items + anchor-navigation"
Use kebab-case for anchor navigation.
Remove too detailed items from search items.
...etc

[2022-05-23 23:01] #173 closed

[2022-05-23 23:05] hakenr commented on #168
Reproduced, our demo itself has this bug:
https://havit.blazor.eu/components/HxDropdownButtonGroup - Link with Href

[2022-05-23 23:19] #168 closed

[2022-05-23 23:20] hakenr commented on #168
fixed, will be part of next release (v2.6.1)

[2022-05-24 07:38] hakenr opened #174 "[doc] Add ApplicationInsights to documentation site"

[2022-05-24 23:53] rmmcgr opened #175 "[HxMessenger] Notice appears under top nav bar with top positions"
I have found when using ``ToastContainerPosition.TopCenter`` (or top start or top end), that the notice is appearing under the top nav bar (setup with HxNavbar).

I have applied a class that set's the z-index to 10000 to work around the problem for now.

[2022-05-25 08:57] stayboy opened #176 "HxSelect Data cannot use static Enumerable object."
![image](https://user-images.githubusercontent.com/10756019/170223200-37267311-44d5-4428-976a-2f481c26457a.png)

**HxSelect** requires instance objects for `**Data**` Attribute. Mostly these bound fields are static and must not always be instantiated properties or methods.

[2022-05-25 09:09] #176 closed

[2022-05-25 15:40] #167 closed

[2022-05-25 15:46] crdo opened #178 "[HxGrid] Expandable row"
We would like to have a possibility to expand/collapse HxGrid rows similarly to https://ant.design/components/table/#components-table-demo-expand

[2022-05-25 15:47] crdo commented on #178
alternatively https://ant.design/components/table/#components-table-demo-nested-table

[2022-05-25 18:38] #125 closed

[2022-05-26 11:58] crdo commented on #175
Can not reproduce. The hx-toast-container has its `z-index` set to `1080` - that is highest value of all Bootstrap components. It should be alright.

What is your version of HAVIT Blazor?

[2022-05-27 15:28] hakenr commented on #95
As of `HxCheckboxList`, let's add new parameters:
* `Func<TItem, string> CssClassSelector`
* `Func<TItem, string> InputCssClassSelector`
* `Func<TItem, string> LabelCssClassSelector`
...and pass the resulting value to underlying `HxInputCheckbox` if the selector is set and returns value.

cc @Harvey1214

[2022-05-27 15:31] hakenr commented on #103
@Harvey1214 Use `IInputWithSize.InputSizeEffective` and add `input-group-sm` or `input-group-lg` as needed (see https://getbootstrap.com/docs/5.1/forms/input-group/#sizing)

[2022-05-27 19:20] pepe-marba opened #182 "[HxAccordionItems] are not collapsed correctly (not tracking DOM state?)"
I found a problem when using the HxAccordion component, This Accordion displays a collection of items that need to be sorted as per user request.

These items have sub items that are displayed when the HxAccordionItem component is expanded.

The problem comes after sorting the items, some times there are more than one item expanded when it's supposed that only one should be displayed as expanded.

[2022-05-30 07:46] hakenr commented on #182
The current HxAccordion implementation does not track DOM state. When user expands/collapses any item, the Blazor-HxAccordionItem is not aware of it. When re-rendering, Blazor identifies and applies only some DOM differences and the reported behavior occurs.

The solution is to track DOM state in HxAccordion, or better to track DOM state in HxCollapse na and refactor HxAccordion to use HxCollapse

[2022-05-30 07:59] hakenr opened #183 "[HxDropdown*], [HxAccordion*] and others - `TrackState` parameter?"
`HxDropdownToggleButton` tracks DOM state by listening to `shown` and `hidden` events. Therefore it is able to survive re-rendering correctly.

`HxCollapse` and some other components do not track the DOM state (intentional decision made - keep the component as simple as possible unless explicitly neccessary) and therefor we are getting reports like #19 and #182.

To let the components behave corre

[2022-05-30 08:03] hakenr opened #184 "[HxCollapse] Tracking DOM state"
similar to #19 but for `HxCollapse`
will be used for #79 and to resolve #182

[2022-05-30 10:22] rmmcgr commented on #175
I am on the latest (2.6.3).

I can see that the navbar has a z-index of 1080, but when I inspect the messenger placeholder element I can't see a z-index applied.

I am including the components CSS reference in the "_Hosts" file:

`<link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" />`

This is what I can see in the browser coming through from this file (assum

[2022-05-30 11:13] hakenr commented on #175
The rule
[code]
is carried in CSS-isolation. Do you reference the Blazor CSS isolation styles from you _Hosts file?
[code]

[2022-05-30 11:28] alexax578 opened #186 "[HxContextMenu] Icon and CssClass parameters"
We would like to be able to assign css classes to dropdown container, to context menu button and to context menu item using CssClass parameters similar to HxDropdown and HxDropdownItem.

Also we would like to be able to change icon that context menu button uses for example from vertical dots to horizontal dots.

[2022-05-30 11:48] alexax578 opened #187 "[HxGrid] ContextMenuCssClass parameter"
We would like to be able to set css classes on ContextMenu created using ContextMenu RenderFragment parameter the same way we are able to set css classes on HxGridColumn using ItemCssClass parameter.

Right now for our ContextMenu we have to use a workaround where we define ContextMenu as HxGridColumn
with parameter Order = int.MaxValue - 1.

[2022-05-30 11:52] rmmcgr commented on #175
Ok, thank you. That was it - I did not have that reference in my _Hosts file.

I thought that was only needed if I was doing CSS isolation for my own components, not ones coming from other frameworks.

Thank you!

[2022-05-30 11:52] #175 closed

[2022-05-30 12:59] hakenr commented on #175
Unfortunately, Blazor mixes all the CSS isolations together (using @import directives) and the reference has to be there.

[2022-05-30 13:08] #184 closed

[2022-05-30 22:34] hakenr commented on #182
@pepe-marba We are still refactoring the HxAccordion and trying to make it better, but for now, you can resolve your issue by setting `@key="@team.Id"` for `HxAccordionItem`.

[2022-05-31 07:33] robertmclaws opened #189 "[HxDropdown] Missing menu alignment properties"
I have a situation where I need to be able to specify that the dropdown opens pinned to the right side element triggering it.

The Bootstrap equivalent class is `dropdown-menu-end`: https://getbootstrap.com/docs/5.0/components/dropdowns/#menu-alignment

Maybe a `DropdownAlignment` enum with `Auto, Right, Left` options would suffice.

[2022-05-31 10:05] hakenr commented on #182
In the end, after refactoring HxAccordionItem to HxCollapse, we decided to go for `@key` requirement in dynamic scenarios. We might change this in future (won't be breaking change).

https://github.com/havit/Havit.Blazor/blob/8b716945bbf9a6e83319cc87545b87a6c786c671/Havit.Blazor.Components.Web.Bootstrap/Accordions/HxAccordionItem.razor.cs#L76-L86

[2022-05-31 10:05] #182 closed

[2022-05-31 10:51] #103 closed

[2022-05-31 14:42] hakenr commented on #187
Will probably go with `HxGrid.ContextMenuSettings` to be able to pass additional settings to the `HxContextMenu` encapsulated inside `HxGrid`.

[2022-05-31 15:23] #186 closed

[2022-05-31 16:09] robertmclaws commented on #189
Up and Down don't seem to be useful in this case, so there might need to be something different. The Auto behavior would make it as wide as possible if the opened menu is huge, or if the target element is big, making it the same width as the target.

[2022-06-01 07:15] hakenr commented on #189
Ahh, I see, it is not the _direction_, it is the _alignment_. Got it.

[2022-06-01 09:25] hakenr opened #190 "[HxGrid] Remove `ContextMenu` in favor of `HxContextMenuGridColumn` usage"
We decided to remove the current `ContextMenu` render fragment and let the users use `HxContextMenuGridColumn` instead.
This should allow adding more flexibility in setting the column, such as order, styling, etc.
* [x] rename `ContextMenuGridColumn` to `HxContextMenuGridColumn`
* [x] adjust documentation + demos
* [x] add `Order` to `HxContextMenuGridColumn`
* [x] add `ItemCssClass` and `ItemCssC

[2022-06-01 14:21] hakenr commented on #189
@robertmclaws What is the behavior of `Auto`? For now, we decided to start with `null` as default (not set).
+ we won't support strong-type API for responsive variants, you can still set the `HxDropdownMenu.CssClass` directly.

[2022-06-01 15:03] hakenr opened #191 "[HxCheckbox] Replacement of [HxInputCheckbox] with `Text` instead of `Label`"
Current `HxInputCheckbox` uses `Label` parameter for text of the checkbox and does not support `form-label`.
This turned to be counter-intuitive and thus we decided to consolidate the component and use `Text` parameter for the `form-check-label`-label and the `Label` parameter for the `form-label`.

BUT as this is major breaking change which changes meaning of the `Label` parameter, we decided to

[2022-06-01 16:31] pepe-marba commented on #182
this approach worked for me, thanks for your help

[2022-06-01 20:39] robertmclaws commented on #189
I wouldn't consider "Auto" a "responsive" variant, it would allow for this:

[2022-06-01 22:00] hakenr opened #193 "[doc] Concepts - Explanation + demos for `Defaults` and `Settings`"

[2022-06-01 22:37] #95 closed

[2022-06-02 07:01] vesnicancz opened #194 "[HxCalendar] DateCustomizations reload possibility"
We need to reload date customizations data, for example, when the state of the day changes.

[2022-06-02 07:41] vesnicancz opened #195 "[HxCalendar] DisplayMonthChanged event fires twice when display month is changed"
If I have a selected date in calendar and I react to a change in selected date using events, the month cannot be changed (by arrows or by picking form year and month popups).
The DisplayMonthChanged event is fired twice.
For the first time with a new date. For the second time with the original one.
Simple repro page is atteched.
[HxCalendarBugRepro.zip](https://github.com/havit/Havit.Blazor/files/

[2022-06-03 08:18] hakenr commented on #189
released

[2022-06-03 08:18] #189 closed

[2022-06-03 08:18] hakenr commented on #187
released

[2022-06-03 08:18] #187 closed

[2022-06-03 08:26] hakenr commented on #122
done

[2022-06-03 08:26] #122 closed

[2022-06-04 10:43] emad981 commented on #109
As for HuOffcanvas
I have to add this code to RTL CSS file in order to fit to RTL

`.offcanvas-end {
    left: 0;
    right: auto;
    transform: translateX(-100%);
}`

[2022-06-06 07:45] jirikanda commented on #194
The RefreshAsync method will be part of the next release.

[2022-06-06 07:45] #194 closed

[2022-06-06 07:45] jirikanda commented on #195
Will be fixed in the upcoming release.

[2022-06-06 07:45] #195 closed

[2022-06-06 10:02] jirikanda opened #196 "[HxSelect] Cannot be used for "add next" scenario"
* HxSelect should contain list of items to add (somewhere...)
* When the item is selected, it should be added (somewhere) and should be removed from the list.
* Handled by custom event handling (no databinding used)
* Value is always null and is not updated by custom event handler (because the selected item must be removed from the items and therefore cannot be used as a value)
* SelectValue shoul

[2022-06-06 10:19] crdo commented on #178
Let's do it! 👍

[2022-06-06 11:07] alexax578 opened #198 "[HxOffcanvas] "show" css class on offcanvas is not retained when rerendered"
When I have open offcanvas and I trigger something that causes the offcanvas to rerender (in my case changing its css class.) it loses "show" css class which was set on it by Bootstrap when opened and results in offcanvas hiding even though hide was not triggered.

I would expect the "show" css class to be retained when the component is rerendered.

[2022-06-06 11:28] hakenr commented on #183
Another one: #198

[2022-06-06 11:43] #198 closed

[2022-06-06 12:27] #196 closed

[2022-06-06 13:09] jirikanda opened #199 "[HxGrid] [HxTabPanel] UpdatedContentRenderer is useless"
We found no scenario where it helps.

[2022-06-06 13:40] jirikanda opened #201 "Missing await in ColumnsRegistration.Unregister call"
And rename to UnregisterAsync

[2022-06-06 19:39] crdo opened #202 "[doc] HxMessenger - IHxMessengerService address does not exist"
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/1410922/172234886-51b8b724-763d-4e05-9370-99dc74b52296.png">

[2022-06-06 22:53] hakenr commented on #202
@Harvey1214 Can we add public interfaces in between `/types/...` pages?

[2022-06-07 00:17] hakenr commented on #199
@jirikanda MensaGymnazium.IntranetGen3 feels quicker now.

[2022-06-07 00:17] #199 closed

[2022-06-07 08:01] jirikanda commented on #178
## Items to solve

### API
* How to enter the expanded row template
* How to express the default expand/collapse status
* How to express the expand status to the column template (probably not possible to implement well without great breaking change)

### Expanding method
* Automatically without any developer effort, ie. like a multi select (if multiselect is used, what is the order of columns)
* L

[2022-06-07 09:02] hakenr commented on #199
@jirikanda It seems that the change exposed another bug
![image](https://user-images.githubusercontent.com/12828888/172340757-345b0416-a7ab-421a-8247-b608072dd63b.png)

The `DisposeAsyncCore()` is quick-fixed now (release 2.6.6-pre2), but I didn't have a chance to investigate the reason for this "exposure" and whether there are another more severe consequences.

[2022-06-07 09:25] hakenr opened #203 "[HxMessenger] Consolidate sync over async?"
For some (?) reason we have synchronous `IHxMessengerService` API whereas `HxMessenger` wraps the calls with `InvokeAsync()`.

The similar setup for `IHxMessageBoxService` is asynchronous.

Do we want to consolidate `IHxMessengerService` to use async directly?

cc @jirikanda

[2022-06-07 09:35] jirikanda commented on #199
Yeah, I have seen this (including your fix).
It is probably connected to #201, not to this issue.

[2022-06-07 10:23] hakenr commented on #203
...there is currently no async logic encapsulated, it just manipulates the `messages` collection and signals `StateHasChanged()`

[2022-06-07 10:23] #203 closed

[2022-06-07 11:13] hakenr opened #204 "[CONCEPT] Allow combining CSS-classes within component customization - `CoreCssClass`"
## Problem description
Currently, when you set
[code]
and then set the class in markup code
[code]
the `default-class` is lost and overridden by `local-class` assignment.

For better customizability (especially application-wide settings) we should be able to combine CSS classes from settings with instance CSS classes (local markup etc.) to get both classes rendered `default-class local-class`.

##

[2022-06-07 11:26] crdo opened #205 "[HxGrid] Grid rows have role="button" even when `[Multi]SelectionEnabled` is not set"
Grid rows have role="button" even when SelectedDataItem is not set.
It causes wrong cursor on hover when row is not clickable.

[2022-06-07 11:28] hakenr opened #206 "[HxMessenger] Visual consolidation + [HxToast] new Color parameter"
For the pre-configured messages (`AddInformation`, `AddWarning` and `AddError`) we want to use color-schemes instead of current icons and header+title visual.
![image](https://user-images.githubusercontent.com/12828888/172368690-47a73376-c613-44e6-9edd-2dd37b4d84ca.png)

[2022-06-07 11:37] #206 closed

[2022-06-07 11:49] hakenr commented on #205
I think it should depend on `[Multi]SelectionEnabled`.

[2022-06-07 11:55] hakenr commented on #205
It seems to be handled appropriately in the code.

[2022-06-07 11:55] #205 closed

[2022-06-08 22:09] hakenr opened #208 "[HxFormValue] Shrunk when displaying null/empty value"
![image](https://user-images.githubusercontent.com/12828888/172725859-75cc6f16-f434-49be-a674-e70179b012b7.png)

@crdo, please give me some styling instructions or fix on your own... ;-)

[2022-06-13 12:31] hakenr opened #209 "[HxButton] Tooltip does not hide when the button opens HxModal"
cc @crdo

[2022-06-13 12:52] hakenr commented on #209
https://github.com/twbs/bootstrap/issues/35202

...but https://codepen.io/hakenr/pen/MWQZrMd

[2022-06-13 14:06] crdo commented on #208
I suggest to rethink the idea of this component in general as it does not follow the readonly or readonly-plaintext form-controls in Bootstrap and it does not feel right from UX perspective either.
https://getbootstrap.com/docs/5.2/forms/form-control/#readonly
https://getbootstrap.com/docs/5.2/forms/form-control/#readonly-plain-text

[2022-06-14 12:33] hakenr opened #210 "[HxSearchBox] If OnTextQueryTriggered occurs, pending debounce and/or DataProvider should be canceled"
1. Focus the `HxSearchBox`
2. Type any query text and hit `Enter` key immediately (before the suggestions appear, i.e. befoure the debounce + `DataProvider` finishes)

* `OnTextQueryTriggered` is called (correct)
* debounce + `DataProvider` completes and the suggestions dropdown appears (should be canceled, no suggestion menu expected)

cc @crdo

[2022-06-15 15:06] hakenr commented on #209
The tooltip is hidden on `mouseout` event which comes from `button` when covered by backdrop/modal. (BTW: This occurs only if there is a mouse event, i.e. the tooltip does not hide when you achieve the mouse not to move.)

As we are disabling the `button` due to `SingleClickProtection` + `clickInProgress`, the disabling causes the `button` not to raise any events, incl. the `mouseout` we are inter

[2022-06-15 15:21] #209 closed

[2022-06-17 11:01] alexax578 opened #211 "[HxSidebar] Custom toggler template parameter"
I would like to be able to replace the default HxIcon with my own RenderFragment.

[2022-06-17 12:07] alexax578 opened #212 "[HxSidebar] custom content in HxSidebarItem"
Example: I would like to be able to add a badge with a number of given entities to a HxSidebarItem.

[2022-06-17 12:15] #210 closed

[2022-06-17 13:10] Harvey1214 commented on #202
@hakenr sure thing - #214

[2022-06-17 14:28] Harvey1214 commented on #211
PR #215

[2022-06-17 14:28] #211 closed

[2022-06-17 15:20] Harvey1214 commented on #212
PR #216

[2022-06-17 15:20] #212 closed

[2022-06-21 15:26] #193 closed

[2022-06-24 14:50] Harvey1214 opened #218 "[doc] Search - API section not updating on page change"
Steps to reproduce

1. Go to any "type/*" page in the documentation.
2. Search for another type page.
3. Select the search result (click, enter, or arrows).
4. URL and title update, however, the API section stays unchanged.

An obvious solution would be to set ForceLoad=true when navigating to a page in the Search component, however, I find that undesirable since it would worsen the user experienc

[2022-06-24 15:00] Harvey1214 opened #220 "[doc] Search - shortcut to focus"
I'm suggesting allowing the user to focus the search field with a shortcut similarly to Bootstrap's docs.

cc @hakenr

[2022-06-24 15:23] #218 closed

[2022-06-25 18:58] czmirek opened #222 "[HxSidebar] Custom collapsible item?"
Hello,

I'm trying to figure out how in your [documentation](https://havit.blazor.eu/) the theme dropdown disappears and only the github icon shows.

Before sidebar collapse
![image](https://user-images.githubusercontent.com/18615545/175786842-aa9b3d2f-2c42-4974-94fe-1983f214b95a.png)

After sidebar collapse
![image](https://user-images.githubusercontent.com/18615545/175786864-ad33a149-ca47-4a23-8

[2022-06-27 07:07] alexax578 opened #223 "[HxSidebar] Show Text of parent HxSidebarItem in section dropdown menu"
I need to show Text of the parent section item:
![image](https://user-images.githubusercontent.com/37944469/175879521-8c1fc2d7-4390-4c1a-8bfc-8fbfdb63a3e1.png)

In the collapsed form of the sidebar:
![image](https://user-images.githubusercontent.com/37944469/175879655-c02a3478-32f5-4d19-9b18-c9a05aaf539a.png)

Is there a easy way to go about this?

[2022-06-27 07:15] alexax578 opened #224 "[HxSidebar] Dropdown menu for section does not show up when sidebar is collapsed while section is expanded"
When I expand a subsection in HxSidebar while sidebar is in expanded state:
![image](https://user-images.githubusercontent.com/37944469/175880555-b67e8329-aced-4747-8937-b18b883a56cf.png)

And then I collapse the sidebar while the section is expanded the dropdown menu that shows up for the section in collapsed state of the sidebar will never show up.
![image](https://user-images.githubusercontent.

[2022-06-27 07:28] crdo commented on #222
Hi @czmirek the `HxSidebar` has a `collapsed` class so hiding the theme input depends on it in custom styles of the docs page (`display: none`).
We know that there is some debt in the `Collapsed/Uncollapsed` API of `HxSidebar`, specifically in its footer and it will be subject of a further development.
There are multiple open issues related to `HxSidebar` so we will give it some upgrade soon.

[2022-06-27 08:31] crdo opened #225 "[HxSearchbox] Is not W3C compliant"
<img width="1448" alt="image" src="https://user-images.githubusercontent.com/1410922/175895649-6865f92a-96de-4f70-9ea6-4c9d6e0d1854.png">
The HTML structure is not valid.

[2022-06-28 10:43] hakenr opened #226 "[doc] Trailing slash in some links"
Some links are generated with trailing slash.
Generally, we decided to go without trailing slashes, so let's remove them everywhere.

E.g. https://havit.blazor.eu/components/HxMessenger and link to https://havit.blazor.eu/components/IHxMessengerService/

[2022-06-28 10:47] hakenr opened #227 "[doc] Missing types - e.g. `AutosuggestDataProviderResult`"
We are still missing some types in the doc, e.g. https://havit.blazor.eu/types/AutosuggestDataProviderResult (linked from https://havit.blazor.eu/types/AutosuggestDataProviderDelegate)

[2022-06-28 11:35] crdo commented on #223
I suggest to use https://getbootstrap.com/docs/5.1/components/dropdowns/#headers

[2022-06-29 08:55] #225 closed

[2022-06-29 12:58] alexax578 opened #228 "[HxSidebar] Enable/disable responsive behavior"
I would like to be able to disable HxSidebar responsive behavior which stems from Bootstrap Navbar -> burger menu.

[2022-06-29 13:01] alexax578 opened #229 "[HxSidebar] Programmatically trigger collapse/expansion"
I would like to able to programmatically trigger the collapse/expansion of HxSidebar perhaps via exposed methods Collapse and Expand.

[2022-06-29 15:05] hakenr commented on #228
😮 ...not sure if this still the `HxSidebar`.

[2022-06-29 23:00] hakenr opened #231 "[HxSidebar] Whitespace between item icon and text not aligned (items w/ vs. wo/ children)"
![image](https://user-images.githubusercontent.com/12828888/176559568-7a547ea2-3bbc-4b0b-885a-7096955451ee.png)

See https://havit.blazor.eu/components/HxSidebar

[2022-06-30 06:59] crdo commented on #231
IMHO it doesn't make sense to fix this as the `login` part is just some custom `RenderFragment` and we should rather focus on #222.

[2022-06-30 07:15] hakenr commented on #231
It is not just the `login` part, but see the difference in between _Subitems with icons_ (item with children) and _First-level item 1_ (item without children).

[2022-06-30 07:57] hakenr opened #232 "[HxSidebar] --hx-sidebar-brand-logo-background-color CSS variable unset?"
When using `HxSidebarBrand` (without logo), without setting any CSS variable, the brand is "invisible":
![image](https://user-images.githubusercontent.com/12828888/176623145-3f6e8327-0ca3-4ef2-8c00-71e8b5ee3cd7.png)

I have to set the `--hx-sidebar-brand-logo-background-color` to get it visible:
[code]

The default value for `--hx-sidebar-brand-logo-background-color` is `unset` (in contrary to the

[2022-06-30 07:58] hakenr commented on #232
+ [ ] If implemented, remove the CSS rule for `--hx-sidebar-brand-logo-background-color` from NewProjectTemplate site.css

[2022-06-30 10:45] hakenr commented on #228
Seems to be doable, probably something like `<HxSidebar ResponsiveBreakpoint="Md | ... | null" />` (ability to set the responsive breakpoint incl. `null` as disabled).

[2022-06-30 11:01] hakenr commented on #223
DESIGN OPEN POINTS (@crdo? @alexax578?)
* [ ] 1. Do we want to allow different header than the parent item title?
  * `<HxSidebarItem Text="Reports" SectionHeader="Choose a report">`
* [ ] 2. If so (1), do we want to render the `SectionHeader` in expanded state?
* [ ] 3. If not (1), do we  want this configurable?
  * `<HxSidebar ShowSectionHeaders="true" />`?
  * `<HxSidebarItem ShowSectionHeader=

[2022-06-30 11:04] vesnicancz opened #233 "[HxGrid] Invalid order of optional columns"
If I have a grid with several columns, some of which are optional, then optional columns are rendered in invalid order.
[Grid.zip](https://github.com/havit/Havit.Blazor/files/9019159/Grid.zip)
![Repro](https://user-images.githubusercontent.com/709508/176662046-418c23c7-a396-456b-bce5-e64aafc80e3c.png)
.

[2022-06-30 12:05] #229 closed

[2022-06-30 13:42] jirikanda commented on #233
Hi @vesnicancz,
you reached a blazor design feature.

Use HxGridColumn.Visible property instead of @if (...) for showing/hiding columns.
Alternatively, use HxGridColumn.Order property.

See https://havit.blazor.eu/components/HxGrid

[2022-06-30 13:42] #233 closed

[2022-07-01 09:01] hakenr opened #234 "HxInputBase.Defaults + InputSettings - add InputSize + LabelType"
related to #28 (prereq)

[2022-07-01 09:03] hakenr commented on #6
obsolete (resolved using CSS gaps, ...)

[2022-07-01 09:03] #6 closed

[2022-07-01 10:28] hakenr opened #235 "[doc] Themes switching - should remove original CSS link"
Currently, when switching themes in doc, we just add a new CSS link. The original link (to our custom BS build) remains in the header and merges with the new styles. This causes some specific nuances, such as rounded corners in dropdowns, etc.

We have to keep just the selected link active.

[2022-07-01 12:02] hakenr commented on #235
Moving all the CSS links to HeadContent causes UI flickering when starting the WASM app: https://github.com/dotnet/aspnetcore/issues/42527

[2022-07-01 21:40] hakenr opened #238 "[HxAutosuggest] - HighlightFirstSuggestion - does not close dropdown when confirmed with Enter-key"
1. doc - Search - type anything
2. hit Enter
3. the page changes, but the autosuggest dropdown remains open

...should be closed when the value is confirmed.

[2022-07-01 23:24] hakenr commented on #231
fixed

[2022-07-01 23:24] #231 closed

[2022-07-07 11:21] alexax578 opened #242 "[HxOffcanvas] Inconsistent CSS class names"
**HxOffcanvas** uses class names without prefix for container css class as well as header and body css class but the footer and close button has css classes prefixed with _hx_.

[code]

[2022-07-08 07:03] crdo commented on #242
@alexax578 I know it's a bit weird but it is intentional because there is no [Offcanvas](https://getbootstrap.com/docs/5.2/components/offcanvas/) footer in Bootstrap 5.

For this reason, it is prefixed with `hx-`.

Conversation on this topic at Bootstraps repo is here https://github.com/twbs/bootstrap/issues/33461 where mdo says "if you want it, you can easily do it" and so we did.

[2022-07-08 07:05] #242 closed

[2022-07-08 07:23] Harvey1214 commented on #224
@alexax578 I found more general repro-steps to this issue

1. Collapse the dropdown
2. Open a dropdown menu for a section
3. Close it
4. Expand, then collapse the sidebar
5. The section can't be opened

[2022-07-09 16:38] #238 closed

[2022-07-09 20:08] crdo commented on #32
@hakenr @Harvey1214 I don't think the name HxInputSlider is a good idea and IMHO we should respect the original HTML naming.
It does not mean that you are selecting a range but from range and that make sense to me.
So let's go ahead with HxInputRange.

[2022-07-09 20:27] crdo opened #247 "Upgrade to Bootstrap 5.2"
@Harvey1214 lets get ready for the Bootstrap 5.2 stable version and create a branch for testing 5.2-beta1.

- [x] Add possibility to set `Offcanvas` responsive classes (the responsive classes are substitutions to the `offcanvas` class)
- [x] Review our implementation of `HxScrollspy` and its JS Interop as it has been rewritten in 5.2
- [x] Decide wether we want an API for `form-check-reverse` or u

[2022-07-10 22:09] hakenr commented on #235
Related Blazor issue: https://github.com/dotnet/aspnetcore/issues/42561

[2022-07-11 03:48] gnnsekhar opened #248 "Havit.Blazor.Components.Web.Bootstrap - Project build failed"
Havit.Blazor.Components.Web.Bootstrap - Project build failed

Build failed due to Havit.Blazor.Components.Web.Bootstrap.InternalSourceGenerators not generating the bootstrap icons.
~\Source\Repos\Havit.Blazor_Harvey\Havit.Blazor.Components.Web.Bootstrap.InternalSourceGenerators\bin\Debug\netstandard2.0\Havit.Blazor.Components.Web.Bootstrap.InternalSourceGenerators.dll

'BootstrapIcon' does not con

[2022-07-11 08:12] hakenr commented on #248
@gnnsekhar I have seen this on some machines, not sure what was the reason. Please try _Clean Solution_ and _Rebuild All_.
(See [CI build](https://github.com/havit/Havit.Blazor/actions) where it builds successfully, it has to be something local.)

[2022-07-11 08:49] #228 closed

[2022-07-11 09:21] jirikanda commented on #248
@gnnsekhar And I have seen issues with not-up-to-date Visual Studio. Try to update Vistual Studio (if used) to the latest version.

[2022-07-11 09:27] #226 closed

[2022-07-11 09:30] jirikanda opened #251 "HxGrid - do not change the default value for Virtualize.OverscanCount"
Currently set to 50, should be 3 - the same value as Virtualize compoent OverscanCount property default value.

https://github.com/havit/Havit.Blazor/blob/cd6d9260ea66ab8216bd3f1d89dc7fe245042074/Havit.Blazor.Components.Web.Bootstrap/Grids/HxGrid.razor.nongeneric.cs#L25
 https://github.com/dotnet/aspnetcore/blob/2b36530405d7a2e1de1bc2b6270552b394d1c35c/src/Components/Web/src/Virtualization/Virtual

[2022-07-11 09:33] #251 closed

[2022-07-11 10:21] crdo commented on #232
@Harvey1214 please review my commit. Thx.

[2022-07-11 12:49] hakenr opened #252 "[HxScrollspy] JS error when disposed in the middle of initialization (async)"
![6aab8882-6803-48f5-bff4-378d51ee9d80](https://user-images.githubusercontent.com/12828888/178267801-1c51d701-efac-4c9a-b14b-8bfd907cff44.gif)

Extracted from: https://dev.azure.com/havit/DEV/_workitems/edit/62972

cc @alexax578

[2022-07-11 12:50] Harvey1214 commented on #232
@crdo lgtm, css vars for setting background color and border radius for logo version would be nice though.

[2022-07-11 12:54] crdo commented on #232
@Harvey1214 I think that if you use image as logo, It should be created in a way you want to use it and you should not be correcting its appearance by applying CSS.

[2022-07-11 12:55] #252 closed

[2022-07-11 14:30] hakenr commented on #232
closing as resolved

[2022-07-11 14:30] #232 closed

[2022-07-12 10:05] crdo opened #253 "[HxSidebar] docs - missing demo of the mainstream scenario with Logo in HxSidebarBrand"
Currently, there is only the `ShortName` variation of the `HxSidbarBrand` documented.
Please add the mainstream scenario with Logo.

[2022-07-12 10:13] hakenr commented on #248
I'm closing this issue now. If you feel there is something to fix in the project, feel free to reopen it (add comment).

[2022-07-12 10:13] #248 closed

[2022-07-12 10:16] hakenr commented on #220
I think this does not add much value to the doc. There is currently initial focus set to the search field.

[2022-07-12 10:19] hakenr commented on #222
There is new `<ContentTemplate>` parameter added to `HxSidebarItem` component in last release (2.7.3).
The desired effect can be achieved through the `.collapsed` class as mentioned above.
Closing this for now.
If you feel there is still something what should be fixed/added to the library, feel free to reopen the issue / add comments.

[2022-07-12 10:19] #222 closed

[2022-07-14 08:22] hakenr opened #254 "[HxSearchBox] cannot confirm selected item with keyboard `Enter` key"
https://havit.blazor.eu/components/HxSearchBox - basic Demo
1. Type `Doo`, _Door_ item is suggested.
2. Navigate to the first item with _ArrowDown_ key on keyboard (gets focus).
3. Hit `Enter`.

Nothing happens.
The item should be confirmed, the dropdown should close, etc. (as if it was clicked with mouse).

![image](https://user-images.githubusercontent.com/12828888/178936873-25301ee5-bd2f-40a0-8

[2022-07-15 12:00] Harvey1214 opened #257 "[HxSidebarItem] Provide a context to the ContentTemplate indicating whether an item is expanded or collapsed"
Expose a parameter or context to the ContentTemplate indicating whether an item is expanded or collapsed.

[2022-07-15 12:01] Harvey1214 opened #258 "[HxSidebar] When a HxSidebarItem is expanded, collapse all other items"

[2022-07-16 09:21] crdo opened #260 "[HxButton] Space between Icon and Text"
Currently, the gap between `HxButton` `Icon` and `Text` is made with `<text>&nbsp;</text>`.
That makes it impossible to configure and in case of `Color="ThemeColor.Link"`, the whitespace between `Icon` and `Text` is underlined.
I suggest to change the spacing to margin and make it configurable via CSS var.

[2022-07-18 08:43] Harvey1214 commented on #257
@hakenr we want to display a badge in the `ContentTemplate` only when the item is collapsed. When the item is expanded, we are displaying the badge in the `ChildContent` and because we don't want duplicate badges, we hide the one in the `ContentTemplate`.

The collapsed version of the `HxSidebar` with dropdown is not currently covered.

[2022-07-19 08:35] alexax578 opened #261 "[HxSidebar] Enable defaults and settings for HeaderTemplate and TogglerTemplate"
I would like to be able to set default values for TogglerTemplate and HeaderTemplate.

My current solution is that I have a component derived from HxSidebar which has the following implementation in OnParametersSet.
[code]
If defaults and settings would be implemented the same way they are on HxButton I could override GetDefaults in my derived MySidebar component.
![image](https://user-images.gith

[2022-07-19 21:17] hakenr commented on #261
Such setting in `Defaults` does not add much value. You can easily "set" the default value in you derived component by overriding get `SetParametersAsync()` method and use the `this.MyParameter = parameters.GetValueOrDefault(nameof(MyParameter), myNewDefaultValue);`

[2022-07-19 21:17] #261 closed

[2022-07-20 10:44] alexax578 opened #262 "[HxCard] Add virtual GetCssClass method"
I need to add a CssClass to my derived Card component permanently. I think the same pattern as the GetTableElementCssClass method on HxGrid is suitable.

[2022-07-20 10:48] alexax578 commented on #262
I personally would prefer if each component had virtual methods that I could override in a derived component but the same point as with [#261](https://github.com/havit/Havit.Blazor/issues/261) can be applied here. I used SetParametersAsync where I get the value of CssClass parameter and attach my CSS class to it if it isn't there already.

[code]

[2022-07-20 13:04] alexax578 opened #263 "[HxInputFileCore] Trigger file selection dialog by clicking on an external button"
I would like to be able to select a file for the input by clicking on an external button.  Maybe **HxInputFileCore** component could expose Click method where I would be able to use it in my scenario like this?

[code]

[2022-07-22 10:58] crdo opened #264 "[HxSidebarBrand] Provide LogoTemplate a context to be able to distinguish collapsed state"
I would like to have a possibility to set different logo for HxSidebar collapsed state.

[2022-07-25 10:58] Harvey1214 commented on #247
@crdo I'm starting to doubt the decision to scrap our Bootstrap build and use CSS variables instead.

Correct me if I'm wrong, however, I don't think there's a way to set the box shadow (and other common properties) of inputs, accordions, buttons, etc. globally, therefore it's necessary to go through each and every component and set these manually, which can become quite time consuming considering

[2022-07-25 11:35] crdo commented on #247
Yes, you are right, the customisation via CSS vars only is not enough for our use case. You can use it for small changes here and there but not for the whole HAVIT Blazor theme.

[2022-07-26 07:40] #258 closed

[2022-07-26 10:01] pavmal12 opened #266 "[HxInputDate] - can not select date after manually deleting it"
If i will remove manually date from input while datepicker is open and immediately after removing will select new date, the date will not be selected and calendar will be closed.

[2022-07-26 10:47] hakenr commented on #266
Successfully reproduced.

[2022-07-26 15:50] hakenr commented on #262
I think this is the issue we are already discussing in #204, will be resolved there (set/override `CoreCssClass` property).

[2022-07-26 15:50] #262 closed

[2022-07-27 10:27] #65 closed

[2022-07-28 11:32] #257 closed

[2022-07-28 11:59] #264 closed

[2022-07-28 12:07] #253 closed

[2022-07-28 12:58] hakenr opened #270 "[HxSidebar] Documentation - change all the demos from testing to more real usage"
Obviously all the HxSidebar demos originated from the original testing code which is not ideal for presentation.
Please change the demos (SidebarItems) to more real usage. E.g. similar to GoranG3, but smaller in amount of items.

(For Martin Fiala, as pull-request.)

[2022-07-28 21:48] crdo opened #271 "[HxSelect] NullDataText is not displayed while loading"
The NullDataText value is not displayed while the data is loading.  It can be seen on the first example in docs.
[NullDataText](https://havit.blazor.eu/components/HxSelect)

[2022-07-29 08:09] hakenr opened #272 "[HxSidebar] Add context with SidebarCollapsed to FooterTemplate"

[2022-07-29 08:09] hakenr opened #273 "[HxSidebarItem] Add SidebarCollapsed to SidebarItemContentTemplateContext for ContentTemplate"

[2022-07-29 08:15] hakenr commented on #266
Whenever the input (text) value changes, the click to calendar is not applied (onchange wins).

[2022-07-29 10:17] crdo commented on #254
@hakenr @Harvey1214 alright we can roll-back the solutions with buttons and document that the ItemTemplate content has to be inline elements only so the HTML is valid.

[2022-07-29 11:31] hakenr opened #276 "[gRPC] Unable to use DTO with nested class property"
[code]
in runtime, when invoking the facade from client, exception occurs (missing marshaller for `MyDto`)
when the `MyNestedClass` is taken out of `MyDto`, the exception disappears

cc @jirikanda

[2022-07-29 13:31] crdo opened #277 "[HxInputTags] AddButton doesn't re-appear when using StaticSuggestions after onBlur"
1. Use naked version with static suggestions
2. Click in to get a focus
3. Click out
4. Add button doesn't appear

[2022-07-29 14:43] #276 closed

[2022-08-01 02:05] rqx110 opened #279 "Feature Request: set location of Pager in HxGrid"
Can we provide an option to set the localtion of Pager in HxGrid.
Option can be:
- Top:  Pager on top of HxGrid
- Bottom: Pager on the bottom of HxGrid (Default option)
- Both: Pager on both top and bottom

[2022-08-01 23:20] hakenr commented on #279
I'm putting this to Backlog for later grooming.
For now, you should be able to disable the built-in pager and implement your own paging by binding to grid's `CurrentUserState` parameter.

[2022-08-02 08:31] alexax578 commented on #263
@hakenr For now I implemented this functionality in BT2 project using JS Interop:
[code]

[2022-08-02 08:36] hakenr commented on #263
Just for the record. We decided not to implement any direct `OpenAsync()` method on `HxInputFileCore` nor `HxInputFileDropZone` as the `.click()` approach (on `input file`) appears to be kind of offensive (and might be blocked by browsers  some time). As there is a working workaround for now, we decided to stay on the safe side.

[2022-08-02 08:36] #263 closed

[2022-08-03 08:29] alexax578 opened #280 "[HxInputFileDropZone] Template parameter when files are selected"
I would like to be able to customize the visuals of the `HxInputFileDropZone` component when files are selected. Maybe the same way we have NoFilesTemplate, we could have FilesSelectedTemplate or something like that.

[2022-08-04 07:49] hakenr commented on #280
Currently the `HxInputFileDropZone` is very simple wrapper of `HxInputFileCore` and the intention was: Whenever there is need for custom UI, replicate the drop-zone implementation on your own and customize as needed.

(For the template you want, it is not clear whether to provide Context with IEnumerable of files, or string with list of files, or ...)

[2022-08-04 07:49] #280 closed

[2022-08-04 11:10] hakenr opened #282 "[HxSidebar] [doc?] Sidebar width in demos"
There is `--hx-sidebar-width` CSS variable (with 250px default, but set to 320px for our documentation site).
Despite this setting, the sidebar demos are currently much wider (see the expand arrow on the right).
![image](https://user-images.githubusercontent.com/12828888/182832928-b0354a47-30ca-4173-9295-4995a428eb85.png)

As far as I remember, the width setting used to apply for the demos.
Probab

[2022-08-05 14:06] blimkemann opened #283 "HxGrid.Defaults Page Navigation Settings"
I use Font Awesome on my websites (leaving out the Bootstrap icons) and therefore need to set custom page icons for every HxGrid I use. I would like to see HxGrid.Defaults contain settings for these (like it does for the sort icons). May I recommend: FirstPageIcon, LastPageIcon, NextPageIcon, PreviousPageIcon?

[2022-08-09 07:36] rqx110 opened #285 "Question: how to set HxGridColumn width manually?"
how to set HxGridColumn width manually?
I haven't find any property can do this.

[2022-08-09 07:48] Harvey1214 commented on #285
Hello @rqx110,

you can set the width of a column manually by applying a CSS class to it using the `ItemCssClass` parameter on the `HxGridColumn`, which applies the chosen CSS classes to every cell in the column.

![image](https://user-images.githubusercontent.com/62853076/183593768-0c5308db-19d8-47de-89c1-9194d5a8f9c2.png)

For example, this result where one column takes half of the available spa

[2022-08-09 07:48] #285 closed

[2022-08-09 14:40] pallu opened #288 "OnToastHidden"
Would it be possible to call the OnToastHidden of HxToast from MessengerMessage or AddMessage?

[2022-08-10 08:00] rqx110 opened #289 "[HxDropdown] JavaScript interop calls cannot be issued at this time. This is because the circuit has disconnected and is being disposed"
Step reproduce:
1. add a demo DropDown sample https://havit.blazor.eu/components/HxDropdown#basic-usage to a page
2. run blazor project (I am using balzor server type project)
3. navigate to the page (http://localhost:5298/)
4. refresh this page again, you will see below error message:
![image](https://user-images.githubusercontent.com/1829209/183846419-16f18d81-fb46-4ac1-b2c1-c66405fc906e.png)

[2022-08-10 15:16] Harvey1214 commented on #273
@hakenr I don't see the purpose of this addition since `ContentTemplate` is not displayed when the sidebar is collapsed - the user would have to override our CSS to make this adjustment relevant, which doesn't seem like a very common scenario to me.

![image](https://user-images.githubusercontent.com/62853076/183939745-80580736-f432-43b4-9c3b-02dda14a7ae7.png)

![image](https://user-images.githubu

[2022-08-10 16:15] Harvey1214 commented on #289
Hello @rqx110,

this happens when the project hasn't been properly set up. For the dropdown to work, you have to set up the project according to our [Getting started](https://havit.blazor.eu/) page - include Bootstrap CSS, JS, register our services, etc...

If you've done this and the dropdown still doesn't work, then let us know and we'll look into it further.

Have a great day 😀

[2022-08-10 21:00] hakenr commented on #288
@pallu Not sure what you are trying to achieve. Can you please give me more context?

[2022-08-10 21:02] pallu commented on #288
When a toast closes - either by clicking the x or on auto-hide, the OnToastHidden gets fired on HxToast. However, it's internal to the library. If you can expose it to the HxMessenger, then for an AddMessage, a callback can be passed to be fired when the toast is hidden.

[2022-08-11 00:31] rqx110 commented on #289
see, i have setup it:
![image](https://user-images.githubusercontent.com/1829209/184045459-6c989c9c-879e-4171-8f07-2d03fb38724d.png)
![image](https://user-images.githubusercontent.com/1829209/184045490-fa7514eb-d894-4329-8cd7-8e2d1a1dd99f.png)

[2022-08-11 10:55] Harvey1214 opened #294 "[HxInputDate] dropdown menu (calendar) can't be closed by clicking outside of it"
1. click the input (gets focus, a dropdown menu is opened)
2. write an invalid date
3. press `enter` or click outside of the input - `OnChange` event is called
4. dropdown menu **cannot** be closed by clicking outside of it (only by selecting a date in the calendar, clicking the "Clear" button or the "OK" button)

@hakenr, @crdo this behavior seems like a bug, in case it is intentional, let me kno

[2022-08-11 11:08] Harvey1214 commented on #266
@hakenr I attempted to solve the issue by removing the call to close the dropdown menu `OnChange` (on valid change). However, that introduces another issue - when an incorrect date is manually entered - the dropdown is automatically closed because of [this issue](https://github.com/havit/Havit.Blazor/issues/294) (which is probably correct and doesn't impact this issue) but then when the user opens

[2022-08-11 11:56] Harvey1214 opened #296 "[HxScrollspy] when user doesn't scroll between link clicks, sometimes scroll to the anchor doesn't happen"
1. go to [this demo](https://havit.blazor.eu/components/HxScrollspy#StaticContentListGroupNavigation)
2. click "Par 3" - the view is scrolled to the anchor
3. click "Par 4" - the view is not scrolled to the anchor

If you scroll even a little bit between steps 2 and 3, the issue doesn't occur.

cc @hakenr

[2022-08-11 13:02] Harvey1214 commented on #288
Hello @pallu,

thank you for the context, now we understand what functionality you are requesting. We will consider implementing this feature.

Thank you for using our component library and have a nice day 😀

[2022-08-11 13:03] pallu commented on #288
Thank you!

[2022-08-12 03:25] rqx110 commented on #289
**It only happend on .net6 target**

[2022-08-15 00:52] rqx110 opened #298 "`JSDisconnectedException` occurred in .NET6"
when we call `await jsModule.InvokeVoidAsync("dispose", elementReference);` in dispose stage, it may cause `JSDisconnectedException` exception in **.net6**, refer to https://github.com/dotnet/aspnetcore/issues/33336

I create an issue before, see #289

[2022-08-15 07:18] crdo commented on #296
@Harvey1214 It could be very easily bug in Bootstrap. The Scrollspy has been refactored in 5.2. Please try to reproduce in 5.2 branch so we make sure it is on our side.

[2022-08-15 07:44] Harvey1214 commented on #247
@crdo will you create our custom Bootstrap build for the new version, or should I create it?

[2022-08-15 07:49] crdo commented on #247
@Harvey1214 lets have a quick meeting and you can go ahead.

[2022-08-15 07:57] Harvey1214 commented on #296
@crdo yes, it's happening even with Bootstrap upgraded.

[2022-08-15 08:06] Harvey1214 commented on #296
I created a standalone page with the demo that wasn't working and it worked flawlessly. I think the multiple demos - multiple `HxAnchorFragmentNavigation` components on the same page were causing the issue.

cc @crdo

[2022-08-15 08:06] #296 closed

[2022-08-15 10:16] #271 closed

[2022-08-15 10:37] #272 closed

[2022-08-15 10:39] #260 closed

[2022-08-15 11:06] hakenr commented on #294
@jirikanda Was it intentional? From my point of view, it makes sense to prevent closing the calendar when there is no valid date selected (or null). In such case we can reject the PR.

@Harvey1214 Anyway, if there is invalid input, the `Clear` button should remove the input (it does not) and the `OK` button should  probably keep the HxCalendar open. Currently, both will close the HxCalendar and le

[2022-08-15 11:26] hakenr commented on #273
@Harvey1214 Ahh, I see, the `ContentTemplate` is currently not visible if collapsed.
The proposed context for `ChildTemplate` is also weird, it duplicates the cascaded `ParentSidebar`.
Let's keep this unimplemented and we will see what demands will come from real projects.

[2022-08-15 11:26] #273 closed

[2022-08-15 13:27] pallu commented on #288
My specific application is that I keep a track of toast messages for history. However, if a toast is closed manually, I remove it from the list - I know that the callback really does not track if a toast is closed manually or auto-closes. Anyway, for now I use the MutationObserver in JS for added and removed toasts and I have been able to successfully use that for my application

[2022-08-15 13:27] #288 closed

[2022-08-15 13:50] hakenr commented on #288
@pallu I see. For such an application I would recommend to use `HxToast` instances directly (in `foreach` or `HxRepeater`) and bind them to a list of messages you will maintain in your state and manipulate as needed.

We were discussing the possibility to add `OnMessageClosed` to `HxMessenger`, but it opens much more questions than it resolves. For now, we decided not to add such feature to the li

[2022-08-15 14:08] hakenr commented on #254
@crdo Mrkni na ten můj commit prosím, snažil jsem se tam vrátit `button` a dostat to do validního stavu. Ale měl bys to radši vidět. :-D

[2022-08-15 14:17] crdo commented on #254
Až na tohle je to OK.
<img width="800" alt="image" src="https://user-images.githubusercontent.com/1410922/184652460-d6642ff7-4157-4b4c-8149-9a25eb180ced.png">

[2022-08-15 14:48] hakenr commented on #254
@crdo OK, fixnu. By mě jeblo, s těma ul/li, to je podle mě přežitek, ale ok.

[2022-08-15 14:49] #254 closed

[2022-08-15 15:54] hakenr commented on #289
It seems (https://github.com/dotnet/aspnetcore/issues/33336) we have to guard all JS-calls in disposal logic with `try-catch(JSDisconectedException)`.

[2022-08-15 16:00] hakenr commented on #298
@rqx110 Although the #289 refers to `HxDropdown` I consider it being a repro for the whole `JSDisconectedException` issue we have to solve in all components calling JS from disposal logic.

This issue is duplicate to #289 and I'm closing it.
If I did not get the point, feel free to add comment to explain the difference and I will reopen this issue again.

[2022-08-15 16:00] #298 closed

[2022-08-15 17:36] Harvey1214 commented on #247
@crdo sure, I suggest a Teams call tomorrow at 13:00.

[2022-08-16 07:07] MichaelMelena opened #300 "Password complexity component"
Component that clearly show to the user password complexity and what changes are required to pass the complexity check.

Validations:
* don't use common passwords (1234 etc.)
* don't use repeating patterns (password111 etc.)
* Uppercase letters required
* Special characters required

Parameters:
* Common password
* Allowed character
* Uppercase required
* Number of uppercase letters required
* Spe

[2022-08-16 08:02] #270 closed

[2022-08-16 09:49] #289 closed

[2022-08-16 09:56] hakenr commented on #283
These has to be `GridSettings.PagerSettings` as they have to be passed to underlying `HxPager`.
We need to add customizability to the `HxPager` it is currently hardcoded:
* `FirstPageIcon` parameter
* `LastPageIcon` parameter
*  `NextPageIcon` parameter
*  `PreviousPageIcon` parameter
* `PagerSettings` class
* `HxPager.Settings` parameter
  * add also `CssClass`
  * add also `NumericButtonsCount`

[2022-08-16 11:57] Harvey1214 opened #301 "[HxTooltip] Text not updating"
### Repro steps
When a tooltip's `Text` parameter is adjusted dynamically (changed from the initial `Text` value), a tooltip with the old text stays rendered and cannot be closed. When the tooltip is activated (`onhover` for instance), then a tooltip with the new text is rendered above the old one.

cc @hakenr, @crdo

### Update
This issue occurs only in a structure where the element with the even

[2022-08-16 12:45] hakenr opened #302 "[HxNavbar] Automatic collapsion (mobile version) when item selected"
Hi.
I went through the HAVIT Blazor documentation but can't find out how to have the **HxNavbar** collapse after a new link has been selected. I'm sure I'm missing something. Here's my code:

        `<HxNavbar ColorScheme="NavbarColorScheme.Dark" CssClass="my-background" >
        <HxNavbar CssClass="mb-3 my-background">
	        <HxNavbarBrand>
		        <img src="/images/small_logo.png" width="

[2022-08-16 12:46] hakenr commented on #302
Currently, this has no built-in support from Bootstrap, nor Havit.Blazor.
I found this recipe https://stackoverflow.com/questions/42401606/how-to-hide-collapsible-bootstrap-navbar-on-click
(We could add the data-bs-... attributes to HxNavLink used and refer to the HxNavbar to collapse it when clicked.)

[2022-08-16 14:13] hakenr opened #303 "[HxGrid] InfiniteScroll + synchronous DataProvider returning empty data => DOMException: Failed to execute 'setStartAfter' on 'Range': the given Node has no parent."
If there is HxGrid with ContentNavigationMode="GridContentNavigationMode.InfiniteScroll" (Virtualize) and the DataProvider delagate returns empty data synchronously, the underlying Virtualize emits JavaScript error to the console:
![image](https://user-images.githubusercontent.com/12828888/184900047-668bbf3e-f6f0-4c8d-9732-ead26ea4d435.png)
[code]

In InfiniteScroll mode, we set `shouldRenderData`

[2022-08-16 15:22] Harvey1214 opened #304 "[HxButton] add a way to control the wrapping tooltip"
We need to show and hide the tooltip programmatically.

I suggest

1. exposing `ShowTooltipAsync` and `HideTooltipAsync` methods
2. or possibly a reference to the tooltip itself

I favor the first approach more though.

cc @hakenr

[2022-08-16 15:36] #304 closed

[2022-08-16 15:53] jirikanda commented on #266
Implementation notes:
* We do not close the calendar when the value is changed anymore.
* The calendar is closed when the input is leaved "by bootstrap". The calendar in HxInputDate is no more accessible by the tab key.
* It supports the use case to seamlessly navigate through the form using keyboard.

[2022-08-16 16:03] jirikanda commented on #266
Done, @hakenr.
I suggest to remove the "OK" buttons from HxInputDate and HxInputDateRange calendars. I consider them useless now. @hakenr says it is on you, @crdo to decide.

[2022-08-17 01:56] rqx110 commented on #289
@hakenr
`await jsModule.DisposeAsync();` may also cause `JSDisconectedException` while refreshing the page
I have tested below component will cause exception:
- `HxCarousel`
- `HxCollapse`
- `HxDropdownToggleButton`
- `HxDropdownToggleElement`
- `HxInputDateInternal`
- `HxInputDateRangeInternal`
- `HxModal`
- `HxScrollspy`
- `HxOffcanvas`
- `HxToast`
- `HxTooltipInternalBase`

[2022-08-17 07:13] hakenr opened #305 "[HxInputDate], [HxInputDateRange] - Remove/replace OK button"
I suggest to remove the "OK" buttons from HxInputDate and HxInputDateRange calendars. I consider them useless now. @hakenr says it is on you, @crdo to decide.

_Originally posted by @jirikanda in https://github.com/havit/Havit.Blazor/issues/266#issuecomment-1216841683_

[2022-08-17 07:14] hakenr commented on #266
Extracted the OK-button suggestion to separate issue. Closing this issue.

[2022-08-17 07:14] #266 closed

[2022-08-17 07:18] hakenr commented on #305
@crdo @jirikanda The current behavior of the _OK_ button is literally just "close the dropdown".
If we want to remove the placebo OK button, my suggestion is to replace it with _Today_ (as a link, same as _Clear_).
Which means we would have to rethink the "three dots", where there currently is the "Today" action.

(To be honest, I'm currently not sure the "three dots" was a good idea. I don't like

[2022-08-17 13:57] jirikanda commented on #294
HxInputDate modified to use HxDropdown&co instead of "plain div with dropdown classes". The main reason to this changes is that HxDropdown tracks the state and renders "show" class to the dropdown trigger element (input here) whenewer the dropdown should be visible.

[2022-08-17 14:00] jirikanda opened #308 "[HxDropdown] The design does not allow to use multiple triggers and multiple contents"
HxInputDateRange uses
[code]

The Open state is held in dropdown although each trigger element should have its own state.

See #294.

[2022-08-17 14:05] hakenr commented on #308
@crdo In other words - our `HxDropdown` design does not expect to have several `HxDropdownTriggerElements` in single `HxDropdown`. Is this a legitimate scenario?

[2022-08-17 14:13] jirikanda commented on #294
I tried to modify the implementation of HxInputDateRange to work internally the same way as HxInputDateRange (#307). But I found the limitation mentioned in #308. To align the HxInputDate and HxInputDateRange implementations I need
* to resolve the #308 issue
* OR to design the bootstrap html structure another way (two HxDropdowns?)
* OR not to align the component implementations...

FYI, @crdo

[2022-08-17 14:56] Harvey1214 commented on #308
@crdo in Bootstrap v5.2, when there are multiple toggle elements and dropdown menus in a dropdown, the toggle elements always open the first dropdown menu. This introduces issues with regards to `HxInputDate` and `HxInputDateRange`.

A possible solution is to separate each toggle element and dropdown menu into its own dropdown as shown in the [this branch](https://github.com/havit/Havit.Blazor/tre

[2022-08-18 11:26] MichaelMelena opened #309 "[HxSelect] options are not properly displayed [MAUI] [Blazor hybrid] [Windows ]"
## Description
I have created **.NET MAUI Blazor hybrid** app with **Havit.Blazor**.  When I click on the `HxSelect` the options are visually offset. The values are still there but It seem like the options are not rendered properly.  I can still select the values that are visible.

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/24386972/185378575-b56c5f9d-018c-44f3-a139-0311

[2022-08-18 12:07] Harvey1214 commented on #308
@crdo @jirikanda Bootstrap expects only one dropdown menu and toggle element to be present in a dropdown. It worked in previous versions, however, with [this PR](https://github.com/twbs/bootstrap/pull/35752/files), it is no longer supported, therefore the `HxInputDate` and `HxInputDateRange` components have been modified to use a `HxDropdown` per each dropdown menu and toggle element.

[2022-08-18 12:07] #308 closed

[2022-08-18 13:17] Harvey1214 commented on #294
@jirikanda I have used your new implementation of `HxInputDate` using Hx components and modified it so that it works in Bootstrap v5.2. The implementation of `HxInputDateRange` has been aligned with `HxInputDate`.

These changes are in the PR for the Bootstrap upgrade - https://github.com/havit/Havit.Blazor/pull/274. There is nothing left to do on this issue I think, it shall be marked complete on

[2022-08-19 06:28] jirikanda commented on #208
I am not sure with the input="text" in the readonly&readonly-plain-text samples while they do not support word wrapping. I guess we want the long content to wrap instead of "overflow to hidden".

[2022-08-19 08:54] jirikanda commented on #283
I also marked TotalPages and CurrentPageIndex using [EditorRequired].
I doubt about HxGrid.PagerCssClass, should or should not it be removed? (Currently it is replaced by HxGrid.PagerSettings.CssClass.)

[2022-08-19 09:52] jirikanda commented on #283
PR #310.

[2022-08-19 14:39] jirikanda commented on #42
Done.

[2022-08-19 15:06] #42 closed

[2022-08-19 15:09] hakenr commented on #54
Duplicates #234

[2022-08-19 15:09] #54 closed

[2022-08-22 11:41] crdo commented on #305
@hakenr I mostly agree. I still like the idea of pre-defined dates or ranges (this month, last year) but I am sure we can find another place for it.

[2022-08-22 13:13] MichaelMelena commented on #309
The issue is within .NET MAUI itself. It simply doesn't render HTML select properly on Windows.
I have created new issue in .NET MAUI repo: [Issue 9579](https://github.com/dotnet/maui/issues/9579)

[2022-08-22 13:13] #309 closed

[2022-08-24 10:15] jirikanda opened #312 "[HxCheckbox] [HxSwitch] Inline mode does not work in EditForm"
The [demo](https://havit.blazor.eu/components/HxInputCheckbox#Inline) works well.
But when I place the inputs to the EditForm, the inline mode does not work (each checkbox is on a separate line).

@crdo, how should the html look to make it working?

[2022-08-24 10:23] jirikanda commented on #312
But we are going to replace the component, see #191.

[2022-08-24 12:58] jirikanda commented on #66
@hakenr
I am ready to make PoC for ApplyToAsync(IQueryable<TItem> dataProvider), unfortunatelly, there are no public async Linq methods (CountAsync, ToListAsync are part of Entity Framework Core). While it is quite crutial to be cancellable, I will try a slightly different approach...

[2022-08-24 13:42] jirikanda commented on #303
@hakenr Don't ask me why it helps ;-).

[2022-08-24 13:58] jirikanda opened #316 "[HxInputDate] When inputs loses focus while calendar is still open, "floating" is turned off"
Hard to describe, watch the image.
Focus the input, click somewhere in the calendar where it does not close the calendar (> button, empty space, ...). At the moment the input label is changed and I think it should not happen.

![2022-08-24_15h54_13](https://user-images.githubusercontent.com/5111719/186437104-f92a96ee-47b3-45aa-b635-593dd79c3f32.gif)

@crdo

[2022-08-24 14:34] MichaelMelena opened #317 "Accessibility WAIG 2.1 conformance level A"
List of changes that once completed will allow developers to create content that is in accordance with [Web Content Accessibility Guidelines 2.1](https://www.w3.org/TR/WCAG21/) at conformance level A

- HxFormValue
    * [x] 2.1.1 is not focusable and cannot be accessed by arrow keys

- HxInputDate
    * [x] 2.1.1 context menu cannot be access by TAB
    * [ ] 2.1.1 Can't select date from the drop

[2022-08-25 00:49] rqx110 opened #318 "[BlazorAppTest] run BlazorAppTest error"
File was loaded in a wrong encoding 'utf-8':

https://github.com/havit/Havit.Blazor/blob/8ad58fc913ce1e7cf5124fa81f749085a5810df1/BlazorAppTest/Pages/HxInputTagsTest.razor#L52

[2022-08-25 06:14] stayboy opened #320 "HxModal, HxCanvax Shuts down Main Page Scrolling after use"
![image](https://user-images.githubusercontent.com/10756019/186588557-c386444f-e428-4dcb-9fd4-3f73f4575591.png)
![image](https://user-images.githubusercontent.com/10756019/186588926-ac2d5ea0-c668-4c34-aec0-3b0ac2e65432.png)

After dismissing HxModal, Page Scrolling is disabled unless refreshed. Kindly find the Console bug if it helps

[2022-08-25 07:12] hakenr commented on #320
Duplicates #148.

[2022-08-25 07:12] #320 closed

[2022-08-25 08:07] stayboy commented on #320
Do I have to wait for bug fix from bootstrap?

Reproducing Bug:
1. Go to Sample Site https://havit.blazor.eu/components/HxOffcanvas
2. Under Backdrop Example, Click Open with Disabled Backdrop
3. With Canvax still opened, Click the Source Tab Under Backdrop Example
4. Close the HxOffCanvas dialog
5. Scroll the main page not working

![image](https://user-images.githubusercontent.com/10756019/18661

[2022-08-25 08:51] hakenr commented on #320
Unfortunately yes, this is something what has to be resolved in Bootstrap.
We are currently applying update to BS 5.2 (release expected next week) and hope some of these will be resolved.

(Also duplicates #110.)

[2022-08-25 09:02] hakenr commented on #289
@rqx110 Thanx for the contribution!

[2022-08-26 07:00] jirikanda commented on #303
I tried alternative approach and it also works. So no need to use Task.Yield.
BUT there is some issue with CSS, in this case, then I hover the empty template, it showes gray background (while in other scenarios it does not).

[2022-08-26 07:16] hakenr commented on #303
@crdo Can you please check the mentioned visual issue in PR? Maybe @Harvey1214?

[2022-08-26 07:39] crdo commented on #303
@hakenr @jirikanda It is set as hover-able table. So I guess it is expected behaviour...

[2022-08-26 09:01] hakenr commented on #317
I would like to discuss individual "task" one by one and agree on implementation.
Please do not start the implementation without that.

[2022-08-26 11:36] jirikanda commented on #303
Agree, I missed thad.
Thx.

[2022-08-26 11:55] jirikanda opened #322 "[HxGrid] Columns should not allow sorting when there are no data"
Sorting forces data provider to read data from data source.
It is useless when we do not expect new data to arise.

Not sure if you agree, feel free to close the issue without PR merge.

[2022-08-26 12:56] jirikanda commented on #312
Also happed for the new HxCheckbox, we need deep-dive. @crdo could you help please.

On the first look it looks like there is difference in display (block vs. inline-block) and width attributes on the wrapping div.

[2022-08-26 13:17] crdo commented on #312
@jirikanda it has to be wrapped in extra div.

[2022-08-28 18:08] Eonasdan opened #324 "[HxInputNumber] Question: Why is HxInputNumber not actually a number field?"
As the title states, I was expecting that `HxInputNumber` would have `type=number` instead of `text`. Is there a reason behind this?

[2022-08-29 08:22] Harvey1214 opened #325 "[HxInputDate], [HxInputDateRange] clear button not working after invalid entry to empty input"
When an invalid date is manually entered into an empty `HxInputDate(Range)` and the input has been marked invalid or no date has been entered before, the clear button doesn't work - the text stays intact when it's clicked.

cc @hakenr @crdo

[2022-08-29 09:02] crdo opened #326 "[HxInputTags] To replace hx-input-tags-control-focused with :focus-within pseudo selector"
Currently, we fake focus on `HxInputTagsInternal` with `hx-input-tags-control-focused` that is added to the wrapping `div`.
I suggest to use `:focus-within` pseudo selector to handle this situation with CSS only.

[2022-08-29 12:44] #326 closed

[2022-08-30 15:02] hakenr opened #330 "[HxOffcanvas] Responsive offcanvas cannot be closed with X button"
1. HxOffcanvas documentation
2. Switch browser to mobile view (e.g. iPad Air mode in EDGE)
3. Open the _Responsive_ offcanvas demo.
4. Click the `X` close button.
Offcanvas does not close and JavaScript error is logged to console:
[code]

cc @Harvey1214 @crdo

[2022-08-30 21:43] hakenr opened #331 "[HxCheckbox] [HxSwitch] Doc - Add demos for `Reverse`"
(The new `HxCheckbox` component, not the old obsolete `HxInputCheckbox` one.)

[2022-08-30 22:38] hakenr opened #332 "[HxSwitch] Replacement for HxInputSwitch (analogous to HxCheckbox)"
Trying to finish `HxCheckbox` PR and found we forgot to replace `HxInputSwitch` with `HxSwitch` (some issue `Label` vs `Text`).

_Originally posted by @hakenr in https://github.com/havit/Havit.Blazor/issues/314#issuecomment-1232240861_

[2022-08-30 23:42] #191 closed

[2022-08-30 23:42] #332 closed

[2022-08-31 08:44] Harvey1214 opened #333 "Doc - Navbar toggle button not visible in mobile view"
Although not visible, it is interactive.

![image](https://user-images.githubusercontent.com/62853076/187636802-743ce411-3f4a-4805-9783-fc3ffc9bef8c.png)

should be

![image](https://user-images.githubusercontent.com/62853076/187636946-8991c17d-8a6c-40e2-8ff8-3bfae740f288.png)

cc @hakenr @crdo

[2022-08-31 08:59] hakenr commented on #333
There were some dances around CSS variables, maybe check there. (Found 1 mistake yesterday.)

[2022-08-31 13:37] #283 closed

[2022-08-31 13:41] crdo commented on #96
@hakenr +1 for "dropdown with the number of items per page and total records" as it is requested on one of our apps.

[2022-08-31 13:48] #247 closed

[2022-08-31 13:48] #294 closed

[2022-08-31 13:48] #330 closed

[2022-08-31 13:48] #331 closed

[2022-08-31 13:48] #333 closed

[2022-08-31 14:33] hakenr commented on #283
Thank you @blimkemann for your sponsorship!

[2022-08-31 14:50] #322 closed

[2022-08-31 15:03] #303 closed

[2022-08-31 15:24] #32 closed

[2022-08-31 18:50] crdo opened #334 "[HxSidebar] [docs] Use SidebarCollapsed context to properly show/hide Login indicator in first demo of HxSidebar"
Our first demo of `HxSidebar` doesn't use `SidebarCollapsed` context to properly `show/hide` `FooterTemplate`.
It also combines GitHub icon with text Login which is confusing.

Please either use GitHub icon with GitHub text or some user/person icon with Login text and hide the text on collapse.

[2022-08-31 18:56] crdo opened #335 "[docs] Opposite logic for StaticBackdrop in Modal/Offcanvas demos"
We have opposite examples of `StaticBackdrop` for `Modal/Offcanvas` demos. Please use set or not set for both demos.
![image](https://user-images.githubusercontent.com/1410922/187759614-5aa3fba8-5a1f-4fec-afe1-f10dfb783838.png)
![image](https://user-images.githubusercontent.com/1410922/187759743-e167a5f4-10da-40da-ba12-00452d666b9c.png)

[2022-08-31 19:02] crdo opened #336 "[HxModal] [docs] Demos for Modal sizes are missing content"
Please add at least some minimal content to the `Modal` body at sizes demos as it looks weird w/o content.
Our demo
![image](https://user-images.githubusercontent.com/1410922/187761010-8b8f1cac-bc94-473e-921e-4149d1ed3307.png)
Bootstraps demo
![image](https://user-images.githubusercontent.com/1410922/187760946-4667c62f-1fbb-4439-897c-613b5450d814.png)

[2022-08-31 21:06] hakenr commented on #335
Wow. It is not the demo, it is the implementation in `HxModal`, which is wrong (in the light of today's library concept).

`HxModal` default for backdrop is `static` whereas Bootstrap has `true` as default.
We allow the `true`-mode by setting `UseStaticBackdrop="false"` parameter.
Bootstrap modal has third state `false` which is currently not supported by our `HxModal` (something we have to fix).

[2022-08-31 21:44] hakenr commented on #208
Decreasing priority as there is currently a temporary workaround implemented (`&nbsp;`).

[2022-08-31 21:49] hakenr commented on #148
Bootstrap 5.2.0 does not resolve this issue.

[2022-08-31 22:05] hakenr commented on #118
Bootstrap 5.2.0 probably does not offer any suitable solution (setting boundary with data-attribute or something like that).

It is probably achievable with JavaScript options (setting boundary to body): https://github.com/twbs/bootstrap/issues/36358
...but it is something we definitely do not won't for PERF reasons as the `HxContextMenu` is heavily used in data-list scenarios (such as `HxGrid`).

[2022-08-31 22:59] hakenr commented on #85
Although the reference-handling implementation in Dropdown.js changed in Bootstrap 5.2.0 , it does resolve our issue only partially. It is now possible to set the HTMLElement reference and it will be used to position the dropdown, but it still requires the original HTML layout where the `.dropdown-menu` must be child of `.dropdown-toggle` parent. This is not satisfied when there is `HxDropdownTogg

[2022-08-31 23:00] #85 closed, assigned to hakenr

[2022-09-01 11:47] hakenr opened #337 "[HxButtonToolbar] Broken button groups rendering after Bootstrap 5.2 upgrade"
https://localhost:44376/components/HxButtonGroup
![image](https://user-images.githubusercontent.com/12828888/187906591-944ee94d-37c6-4799-90c4-6632e4921678.png)

[2022-09-01 12:41] hakenr commented on #28
We found the `KeepSpace` implementation too offensive for UI layout (our `gap` in forms would have to be abandoned which would bring many changed needed for current applications to avoid UI changes).

Currently, we are investigating new `Floating` mode, which will be much more aligned with our original HxValidationMessage implementation (just implemented in a way where the `Regular` and `Tooltip`

[2022-09-01 13:19] hakenr commented on #337
#163 branch only (#28)
Caused by prototyped implementation of  `ValidationMessageMode.KeepSpace` of the `HxInputText` components used in the `HxButtonToolbar` 🤦‍♂️
Another reason to go for `ValidationMessageMode.Floating` instead of `KeepSpace`...

[2022-09-01 13:19] #337 closed

[2022-09-01 15:15] #28 closed, assigned to crdo, jirikanda, hakenr

[2022-09-01 15:32] #336 closed

[2022-09-01 15:37] #334 closed

[2022-09-01 15:56] Harvey1214 opened #341 "[HxSidebar] Toggle button is rendered even in the navbar (mobile) version"
1. Resize the browser window - decrease the width.
2. Click the hamburger icon to expand the sidebar.
3. Sidebar collapse toggle button is rendered on hover.
4. Click the button.
5. See the image below for result, which shouldn't be possible to achieve - the sidebar collapse toggle button shouldn't be visible in mobile view.

![image](https://user-images.githubusercontent.com/62853076/187956407-07

[2022-09-01 21:16] hakenr opened #343 "[HxValidationMessage] Messages not separated properly (missing whitespace)"
See `Regular` and `Floating` modes, there should be some whitespace between messages. (the `Tooltip` mode is OK).
![image](https://user-images.githubusercontent.com/12828888/188014406-8a35b67a-9065-4554-857f-6bad73b24a6d.png)

Current naive solution is not working as expected.
![image](https://user-images.githubusercontent.com/12828888/188014542-1c07dd66-88e9-4e16-b199-4d918dc3debe.png)

[2022-09-01 21:31] #343 closed

[2022-09-01 21:51] hakenr commented on #325
(I think we decide to take this as known issue not worth to fix, but please confirm.)

[2022-09-01 23:11] hakenr opened #344 "[HxGrid] DataProvider called with SortItems null (where it shouldn't)"
Tried the v3.0.0-pre1 in 003.GOR-G3 and realized that the grids (DataProvider methods) fail with this (or similar) exception:
[code]

The request.SortItems is null where it is not expected (the HxGrid is configured with default sorting).

cc @jirikanda, @crdo (no-go for v3.0.0 release)
...I will try to investigate further tomorrow

[2022-09-02 07:33] hakenr opened #345 "[v3.0.0-pre1] InvalidOperationException: EditForm requires either a Model parameter, or an EditContext parameter, please provide one of these."
After upgrading GOR-G3, the ProjectList page fails with
[code]

With the same DB, only the HavitBlazor3 branch fails (just the new package + replacement of HxInputCheckbox+Switch with HxCheckbox+Switch). The master branch does not throw the exception.

[2022-09-02 08:03] hakenr commented on #345
The console windows also contains this exception at the same time:
[code]

[2022-09-02 10:51] hakenr opened #346 "[HxIcon] Upgrade BootstrapIcons to latest version (1.9.1)"
https://github.com/twbs/icons/releases/tag/v1.9.1

[2022-09-02 10:52] hakenr commented on #345
resolved (also resolves #344)

[2022-09-02 10:52] #345 closed

[2022-09-02 10:52] hakenr commented on #344
resolved within #345 (seems to be same cause)

[2022-09-02 10:52] #344 closed

[2022-09-02 11:44] hakenr opened #347 "[doc] Add new types (enums, settings, ...) to search index"
OffcanvasBackdrop
OffcanvasResponsiveBreakpoint
ModalBackdrop
InputXySettings
...

[2022-09-02 12:01] hakenr opened #348 "[HxAutosuggest] [HxSearchBox] [HxInputTags] Keyboard navigation (up/down) stopped working"
1. Type something.
2. Use `ArrowDown` to navigate to specific item.
...not working

cc @crdo @Harvey1214

[2022-09-02 12:08] hakenr commented on #348
Same with `HxSearchBox`.

(When I reverted back from li/a to buttons, I think it was working. It has to be some change in between that and Bootstrap 5.2)

[2022-09-02 13:34] Harvey1214 commented on #348
@hakenr, I agree with @crdo, this issue arose with the Bootstrap upgrade. Also, there haven't been any changes to the `HxSearchBox` since the structure change.

[2022-09-02 13:41] hakenr commented on #348
This is our current issue:
https://github.com/twbs/bootstrap/blob/337068f8b1044004f4b9abfffbb433694ae87993/js/src/dropdown.js#L391-L405

[2022-09-02 13:45] #346 closed

[2022-09-02 13:50] #341 closed

[2022-09-03 09:16] hakenr opened #352 "[HxGoogleTagManager] doc - Add link to separate NuGet package (discoverability)"
There is currently nothing which helps you find the component (extra package).

[2022-09-04 19:50] hakenr commented on #324
As far as I remember, the `type=number` does not respect page language on some devices and does not allow to enter decimal point in some locales (i.e. comma for decimal point, etc.)

Maybe @jirikanda can clarify more.

[2022-09-05 07:13] crdo commented on #348
So it has been already [discussed and closed](https://github.com/twbs/bootstrap/issues/36598) as won't fix.

[2022-09-05 08:24] pavmal12 opened #353 "[HxInputDate] - crashes when disposing and hxDropdownToggleElement is not available (edge case)"
When I open offcanvas which has datepickers, it returned unhandled error.

<img width="1552" alt="Screenshot 2022-09-05 at 10 18 42" src="https://user-images.githubusercontent.com/110027149/188403426-480524a1-bf4f-411f-b377-9a591bb93eb5.png">

![image](https://user-images.githubusercontent.com/110027149/188403506-d81b2cf0-3969-4466-a7a2-9ff537954ddd.png)

[2022-09-05 08:41] #353 closed

[2022-09-05 08:42] pavmal12 opened #354 "[HxInputdateRange] - entering date on one input will remove validation on second input"
If for example I have on first input date in incorrect format, due that input has validation active, than I will enter date on second input in correct format, this will remove validation from first input. But date will still remain in incorrect format in input.

Entering incorrect formats on both inputs will keep validation for each input.

![image](https://user-images.githubusercontent.com/110027

[2022-09-05 08:54] hakenr commented on #353
fixed in v3.0.0-pre3, applied to BTF-AUT project

[2022-09-05 12:35] crdo opened #355 "[HxInputDate] [HxInputDateRange] Move predefined dates to dropdown-menu"
I suggest to move the predefined dates UI to the HxInputDate[Range] dropdown-menu to make to UI more subtle and allow use of InputGroups.

PR coming.

[2022-09-05 14:45] hakenr opened #357 "[HxInputDate] [HxInputDateRange] Review default predefined dates/ranges"
Review the default predefined dates/ranges
  - Today only for both types?
  - MTD, QTD, YTD, TTM for ranges?
  - Preconfigured sets but not defaults?

cc @crdo @jirikanda

[2022-09-05 14:45] hakenr commented on #357
relates to #355

[2022-09-05 14:58] hakenr opened #358 "[HxInputDate] [HxInputDateRange] Show calendar icon as default"
We are removing the "three dots input-group" (#355).
I suggest to make the `HxInputDate` and `HxInputDateRange` display the calendar icon as default.

This would probably need some API redesign as there is currently only `CalendarIcon` parameter and leaving it `null` means "no icon".
If we set a default icon, we should probably add a new `ShowCalendarIcon`  parameter (`bool`, default `true`).

cc

[2022-09-06 09:03] jirikanda opened #359 "[doc] Update installation instructions for Blazor Server"
In the current default Blazor Server project template, the right place to modify is not _Host.cshml, but _Layout.cshtml.
I suggest to change it in https://havit.blazor.eu/, chapter 2.
Thx, @mholec.

[2022-09-06 11:06] #352 closed

[2022-09-06 13:18] #355 closed

[2022-09-06 13:30] Apskaita5 opened #360 "[HxGrid] A way to persist grid state (sorting, current page) ?"
Is there a way to persist (e.g. in a cookie) the current state of the grid?
It would be nice if the grid is initialized/restored to its last state after a user navigates back. I understand that the grid state is not enough by itself, but it's current page and sorting are important elements for that purpose.

[2022-09-06 13:35] hakenr opened #361 "[HxAutosuggest] Remove the `HighlightFirstSuggestion` parameter"
...consider `true` as the default component behavior.

[2022-09-06 13:49] hakenr commented on #360
You can use the `CurrentUserState` parameter and bind it to persisted field/property of your choice. E.g. serialize it to localStorage, cookie or just to any application-scoped storage (static field, singleton, ...).

[2022-09-06 13:53] #359 closed

[2022-09-06 13:55] hakenr commented on #359
(For now, both options are mentioned. We might remove the `_Host.cshtml` later.)

[2022-09-06 13:59] Apskaita5 commented on #360
Got a warning Component parameter 'CurrentUserState' should not be set outside of its component.
Is it (CurrentUserState) json serializable?

[2022-09-06 14:44] yeganehaym opened #362 "FluentValidation Mismatch Version"
fluent validation in Havit components is lower than fluent validation in my project and gives me version mismatch error
what should I do?

[2022-09-06 16:28] hakenr commented on #362
Hi,
we do not introduce dependency on FluentValidation package, we are not using it in our library et al (except testing application, which is not part of the release). You should not be restricted by our library in any way.

---
Our [NewProjectTemplate-Blazor](https://github.com/havit/NewProjectTemplate-Blazor) (optional, not sure you are referring to it?) uses Blazored.FluentValidation (currentl